ORI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://vng.nl/projecten/open-raadsinformatie" targetNamespace="https://vng.nl/projecten/open-raadsinformatie" xmlns:ori="https://vng.nl/projecten/open-raadsinformatie" elementFormDefault="qualified" version="v0.0.5">
    <xsd:element name="ORI">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="mediabron" type="mediabron" minOccurs="1" maxOccurs="unbounded"/>
                <xsd:element name="vergadering" type="vergadering" minOccurs="1" maxOccurs="unbounded"/>
                <xsd:element name="agendapunt" type="agendapunt" minOccurs="1" maxOccurs="unbounded"/>
                <xsd:element name="stemming" type="stemming" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="natuurlijkPersoon" type="natuurlijkPersoon" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="aanwezigeDeelnemer" type="aanwezigeDeelnemer" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
        <!-- Specificeer dat alle IDs in de XML boom uniek moeten zijn -->
        <xsd:unique name="uniqueID">
            <xsd:selector xpath=".//ori:ID"/>
            <xsd:field xpath="."/>
        </xsd:unique>
    </xsd:element>

    <!-- # Algemene datatypes -->

    <xsd:complexType name="verwijzingGegevens">
        <xsd:annotation>
            <xsd:documentation>Gegevens om vanuit een object naar een ander te verwijzen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="verwijzingID" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Het ID van het object waarnaar verwezen wordt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="verwijzingNaam" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een voor menselijke lezers bedoelde naam van het object waarnaar verwezen wordt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="informatieobjectGegevens">
        <xsd:sequence>
            <xsd:element name="verwijzingInformatieobject" type="verwijzingGegevens" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar een elders gedefinieerd informatieobject.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van een elders gedefinieerd informatieobject
                          - `verwijzingNaam` (string, optioneel): Naam van het informatieobject waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="informatieobjectType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Het soort informatieobject waarnaar verwezen wordt.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Voorstel"/>
                        <xsd:enumeration value="Motie"/>
                        <xsd:enumeration value="Amendement"/>
                        <xsd:enumeration value="Besluitsvormingsstuk"/>
                        <xsd:enumeration value="Toezegging"/>
                        <xsd:enumeration value="Mededeling"/>
                        <xsd:enumeration value="Vraag"/>
                        <xsd:enumeration value="Antwoord"/>
                        <xsd:enumeration value="Ingekomen stuk"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="informatieobjectContextgegevens" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="voorstel" type="voorstelGegevens" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="motie" type="motieGegevens" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="amendement" type="amendementGegevens" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="besluitsvormingsstuk" type="besluitvormingsstukGegevens" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="vraag" type="vraagGegevens" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="antwoord" type="antwoordGegevens" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="toezegging" type="toezeggingGegevens" minOccurs="1" maxOccurs="1"/>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- # ORI-gerelateerde datatypes -->

    <xsd:complexType name="mediabron">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="mimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het MIME type van het mediabron bestand.

                        Verwachte waarde:
                          - string: Patroon `type/subtype`, bijvoorbeeld `video/mp4`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="\w+/[-+.\w]+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="mediabronType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het soort mediabron.

                        Verwachte waarde:
                          - Keuze uit: `Video`, `Audio`, `Transcriptie`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Video"/>
                        <xsd:enumeration value="Audio"/>
                        <xsd:enumeration value="Transcriptie"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="URL" type="xsd:anyURI" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="verwijzingMediabron" type="informatieobjectGegevens" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De verwijzing naar het bestand waarin de mediabron is vastgelegd. Afhankelijk van het mediabronType (Audio, Video of Transcriptie) verschilt het verwachte bestandsformaat. Technische gegevens over het bestandsformaat kunnen worden vastgelegd in de bestandslaag in MDTO of ToPX.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="verwijzingOndertitelbestand" type="informatieobjectGegevens" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Het ondertitelbestand dat gerelateerd is aan de mediabron. Veelgebruikte formaten hiervoor zijn webVTT (.vtt) of SubRip (.srt). Dit element kan alleen van toepassing bij een mediabron met als type Video of Audio. Technische gegevens over het bestandsformaat kunnen worden vastgelegd in de bestandslaag in MDTO of ToPX.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="vergadering">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="naam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="vergaderToelichting" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="georganiseerdDoorGremium" type="gremium" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="vergaderingsType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het soort vergadering.

                        Verwachte waarde:
                          - Keuze uit: `Raadsvergadering`, `Commissievergadering`, `Statenvergadering`, `Algemene bestuursvergadering`, `Presidium`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Raadsvergadering"/>
                        <xsd:enumeration value="Commissievergadering"/>
                        <xsd:enumeration value="Statenvergadering"/>
                        <xsd:enumeration value="Algemene bestuursvergadering"/>
                        <xsd:enumeration value="Presidium"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="locatie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="status" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De status van de vergadering.

                        Verwachte waarde:
                          - Keuze uit: `Gepland`, `Gehouden`, `Geannuleerd`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Gepland"/>
                        <xsd:enumeration value="Gehouden"/>
                        <xsd:enumeration value="Geannuleerd"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="geplandeVergaderdatum" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="vergaderdatum" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="geplandeAanvangVergadering" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="geplandeEindeVergadering" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="aanvangVergadering" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="eindeVergadering" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="publicatiedatum" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="bestuurslaag" type="bestuurslaag" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="isVastgelegdMiddels" type="verwijzingGegevens" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de mediabron waarin de vergadering is vastgelegd.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van de `mediabron` waarnaar verwezen wordt
                          - `verwijzingNaam` (string, optioneel): Naam van de `mediabron` waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isGenotuleerdIn" type="informatieobjectGegevens" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de notulen van de vergadering.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van een elders gedefinieerd informatieobject
                          - `verwijzingNaam` (string, optioneel): Naam van het informatieobject waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftAlsBijlage" type="informatieobjectGegevens" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar een bijlage van de vergadering.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van een elders gedefinieerd informatieobject
                          - `verwijzingNaam` (string, optioneel): Naam van het informatieobject waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftAlsDeelvergadering" type="vergadering" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="agendapunt">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="agendapuntOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="geplandAgendapuntVolgnummer" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het geplande agendapunt volgnummer.

                        Verwachte waarde:
                          - string: een of meer cijfers, eventueel gevolgd door een reeks letters. Bijvoorbeeld `10` of `13b`.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="\d+\w*"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="agendapuntVolgnummer" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het agendapunt volgnummer.

                        Verwachte waarde:
                          - string: een of meer cijfers, eventueel gevolgd door een reeks letters. Bijvoorbeeld `10` of `13b`.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="\d+\w*"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="geplandeEindtijd" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="geplandeStarttijd" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="starttijd" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="eindtijd" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="agendapuntKenmerk" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="agendapuntTitel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="indicatieHamerstuk" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="indicatorBehandeld" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="indicatorBesloten" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="bestuurslaag" type="bestuurslaag" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="wordtBehandeldTijdens" type="verwijzingGegevens" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de vergadering waarin het agendapunt behandeld wordt.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van de `vergadering` waarnaar verwezen wordt
                          - `verwijzingNaam` (string, optioneel): Naam van de `vergadering` waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftBehandelendAmbtenaar" type="verwijzingGegevens" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de ambtenaar die het agendapunt behandeld.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van de `natuurlijkPersoon` waarnaar verwezen wordt
                          - `verwijzingNaam` (string, optioneel): Naam van de persoon die het agendapunt behandeld
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftAlsBijlage" type="informatieobjectGegevens" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar een bijlage van het agendapunt.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van een elders gedefinieerd informatieobject
                          - `verwijzingNaam` (string, optioneel): Naam van het informatieobject waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftAlsSubagendapunt" type="agendapunt" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="spreekfragment">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="aanvangSpreekfragment" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="eindeSpreekfragment" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="taal" type="xsd:language" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="tekstSpreekfragment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="titelSpreekfragment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="positieNotulen" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="audioTijdsaanduidingAanvang" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="audioTijdsaanduidingEinde" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="videoTijdsaanduidingAanvang" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="videoTijdsaanduidingEinde" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="isVastgelegdIn" type="verwijzingGegevens" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de mediabron waarin het spreekfragment is vastgelegd.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van de `mediabron` waarnaar verwezen wordt
                          - `verwijzingNaam` (string, optioneel): Naam van de `mediabron` waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="spreektTijdensAgendapunt" type="verwijzingGegevens" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar het agendapunt waar tijdens gesproken wordt.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van het `agendapunt` waarnaar verwezen wordt
                          - `verwijzingNaam` (string, optioneel): Naam van het `agendapunt` waarnaar verwezen wordt
                      </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="stemming">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="stemmingType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het soort stemming.

                        Verwachte waarde:
                        - Keuze uit: `Hoofdelijk`, `Regulier`, `Schriftelijk`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Hoofdelijk"/>
                        <xsd:enumeration value="Regulier"/>
                        <xsd:enumeration value="Schriftelijk"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="resultaatMondelingeStemming" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het resultaat van de mondelinge stemming.

                        Verwachte waarde:
                          - Keuze uit: `Voor`, `Tegen`, `Gelijk`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Voor"/>
                        <xsd:enumeration value="Tegen"/>
                        <xsd:enumeration value="Gelijk"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="resultaatStemmingOverPersonen" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="stemmingOverPersonen" type="stemmingOverPersonen" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="leidtTotBesluit" type="besluit" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="heeftBetrekkingOpAgendapunt" type="verwijzingGegevens" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar agendapunt waarover gestemt wordt.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van het `agendapunt` waarnaar verwezen wordt
                          - `verwijzingNaam` (string, optioneel): Naam van het `agendapunt` waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftBetrekkingOpBesluitvormingsstuk" type="informatieobjectGegevens" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Gegevens omtrent het besluitvormingsstuk waarover gestemd wordt.

                        Verwachte waarde:
                          - `verwijzingInformatieobject` (verwijzingGegevens): Verwijzing naar een elders gedefinieerd informatieobject
                          - `informatieobjectType` (string, optioneel): Het soort besluitsvormingsstuk. Keuze uit `motie`, `voorstel`, `amendement`, of `besluitsvormingsstuk`
                          - `informatieobjectAanvullendeGegevens` (motieGegevens|voorstelGegevens|amendementGegevens|besluitvormingsstukGegevens, optioneel): Gegevens die het informatieobject nader beschrijven
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="stemmingOverPersonen">
        <xsd:sequence>
            <xsd:element name="naamKandidaat" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="aantalUitgebrachteStemmen" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="besluit">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="besluitToelichting" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="toezegging" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="besluitResultaat" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het resultaat van het besluit.

                        Verwachte waarde:
                        - Keuze uit: `Unaniem aangenomen`, `Aangenomen`, `Geamendeerd aangenomen`, `Onder voorbehoud aangenomen`, `Verworpen`, `Aangehouden`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Unaniem aangenomen"/>
                        <xsd:enumeration value="Aangenomen"/>
                        <xsd:enumeration value="Geamendeerd aangenomen"/>
                        <xsd:enumeration value="Onder voorbehoud aangenomen"/>
                        <xsd:enumeration value="Verworpen"/>
                        <xsd:enumeration value="Aangehouden"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="dagelijksBestuur">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="dagelijksBestuursnaam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="dagelijksBestuursType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het soort dagelijks bestuur.

                        Verwachte waarde:
                          - Keuze uit: `College`, `Gedeputeerde Staten`, `Dagelijks bestuur`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="College"/>
                        <xsd:enumeration value="Gedeputeerde Staten"/>
                        <xsd:enumeration value="Dagelijks bestuur"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="bestuurslaag" type="bestuurslaag" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="dagelijksBestuurLidmaatschap">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="datumBeginDagelijkseBestuurLidmaatschap" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="datumEindeDagelijkseBestuurLidmaatschap" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="dagelijksBestuur" type="dagelijksBestuur" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="natuurlijkPersoon">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="geslachtsaanduiding" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het geslacht van de persoon.

                        Verwachte waarde:
                          - Keuze uit: `Man`, `Vrouw`, `Anders`, `Onbekend`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Man"/>
                        <xsd:enumeration value="Vrouw"/>
                        <xsd:enumeration value="Anders"/>
                        <xsd:enumeration value="Onbekend"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="functie" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De functie van de persoon.

                        Verwachte waarde:
                          - Keuze uit: `Burgemeester`, `Wethouder`, `Raadslid`, `Burgerlid`, `Griffier`, `Gemeentesecretaris`, `Commissaris van de Koning`, `Gedeputeerde`, `Statenlid`, `Provinciesecretaris`, `Dijkgraaf`, `Dagelijks bestuurslid`, `Algemeen bestuurslid`, `Secretarisdirecteur`, `Ambtenaar/medewerker`, `Adviseur of deskundige`, `Overig`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Burgemeester"/>
                        <xsd:enumeration value="Wethouder"/>
                        <xsd:enumeration value="Raadslid"/>
                        <xsd:enumeration value="Burgerlid"/>
                        <xsd:enumeration value="Griffier"/>
                        <xsd:enumeration value="Gemeentesecretaris"/>
                        <xsd:enumeration value="Commissaris van de Koning"/>
                        <xsd:enumeration value="Gedeputeerde"/>
                        <xsd:enumeration value="Statenlid"/>
                        <xsd:enumeration value="Provinciesecretaris"/>
                        <xsd:enumeration value="Dijkgraaf"/>
                        <xsd:enumeration value="Dagelijks bestuurslid"/>
                        <xsd:enumeration value="Algemeen bestuurslid"/>
                        <xsd:enumeration value="Secretarisdirecteur"/>
                        <xsd:enumeration value="Ambtenaar/medewerker"/>
                        <xsd:enumeration value="Adviseur of deskundige"/>
                        <xsd:enumeration value="Overig"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="naamNatuurlijkPersoon" type="naamNatuurlijkPersoon" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="nevenfunctieNatuurlijkPersoon" type="nevenfunctieNatuurlijkPersoon" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="isLidVanFractie" type="fractielidmaatschap" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="isLidVanDagelijksBestuur" type="dagelijksBestuurLidmaatschap" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="naamNatuurlijkPersoon">
        <xsd:sequence>
            <xsd:element name="achternaam" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="tussenvoegsel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="voorletters" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="voornamen" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="volledigeNaam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="nevenfunctieNatuurlijkPersoon">
        <xsd:sequence>
            <xsd:element name="omschrijvingNevenfunctie" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="naamOrganisatieNevenfunctie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="aantalUrenperMaand" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="indicatorBezoldigd" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="indicatorNevenfunctieVanwegeLidmaatschap" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="datumMelding" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="datumAanvangNevenfunctie" type="xsd:date" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="datumEindeNevenfunctie" type="xsd:date" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="fractie">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="fractienaam" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="bestuurslaag" type="bestuurslaag" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="fractieNeemtDeelAanStemming" type="stemresultaatPerFractie" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="fractielidmaatschap">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="datumBeginFractielidmaatschap" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="datumEindeFractielidmaatschap" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="indicatieVoorzitter" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="fractie" type="fractie" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="stemresultaatPerFractie">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="fractieStemresultaat" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Keuze van de gehele fractie over een stemming.

                        Verwachte waarde:
                          - Keuze uit: `Aangenomen`, `Verworpen`, `Verdeeld`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Aangenomen"/>
                        <xsd:enumeration value="Verworpen"/>
                        <xsd:enumeration value="Verdeeld"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="gegevenOpStemming" type="verwijzingGegevens" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de stemming waar de fractie over gestemd heeft.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van de `stemming` waarnaar verwezen wordt
                          - `verwijzingNaam` (string, optioneel): Naam van de beslissing waarover gestemd wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="aanwezigeDeelnemer">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="rolNaam" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De rol waarin iemand aanwezig is.

                        Verwachte waarde:
                          - Keuze uit: `Voorzitter`, `Vice-voorzitter`, `Raadslid`, `Statenlid`, `Dagelijks bestuurslid`, `Algemeen bestuurslid`, `Inspreker`, `Portefeuillehouder`, `Griffier`, `Overig`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Voorzitter"/>
                        <xsd:enumeration value="Vice-voorzitter"/>
                        <xsd:enumeration value="Raadslid"/>
                        <xsd:enumeration value="Statenlid"/>
                        <xsd:enumeration value="Dagelijks bestuurslid"/>
                        <xsd:enumeration value="Algemeen bestuurslid"/>
                        <xsd:enumeration value="Inspreker"/>
                        <xsd:enumeration value="Portefeuillehouder"/>
                        <xsd:enumeration value="Griffier"/>
                        <xsd:enumeration value="Overig"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="organisatie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="deelnemerspositie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="aanvangAanwezigheid" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="eindeAanwezigheid" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="neemtDeelAanVergadering" type="verwijzingGegevens" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de vergadering waar de deelnemer aanwezig was.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van de `vergadering` waarnaar verwezen wordt
                          - `verwijzingNaam` (string, optioneel): Naam van de `vergadering` waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isNatuurlijkPersoon" type="verwijzingGegevens" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar een `natuurlijkPersoon` element met meer informatie over de deelnemer.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van de `natuurlijkPersoon` waarnaar verwezen wordt
                          - `verwijzingNaam` (string, optioneel): Naam van de persoon waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="neemtDeelAanStemming" type="stem" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="spreektTijdensSpreekfragment" type="spreekfragment" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="stem">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="keuzeStemming" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De uitgebrachte keuze op de stemming.

                        Verwachte waarde:
                          - Keuze uit: `Voor`, `Tegen`, `Afwezig`, `Onthouden`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Voor"/>
                        <xsd:enumeration value="Tegen"/>
                        <xsd:enumeration value="Afwezig"/>
                        <xsd:enumeration value="Onthouden"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="gegevenOpStemming" type="verwijzingGegevens" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de stemming waar de deelnemer over gestemd heeft.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van de `stemming` waarnaar verwezen wordt
                          - `verwijzingNaam` (string, optioneel): Naam van beslissing waarover gestemd wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="besluitvormingsstukGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="omschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="datumIngediend" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="isMedeOndertekendDoor" type="verwijzingGegevens" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar een persoon die het stuk heeft ondertekend.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van de `natuurlijkPersoon` waarnaar verwezen wordt
                          - `verwijzingNaam` (string, optioneel): Naam van de persoon die het stuk heeft ondertekend. 
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="motieGegevens">
        <xsd:complexContent>
            <xsd:extension base="besluitvormingsstukGegevens">
                <xsd:sequence>
                    <xsd:element name="motieType" minOccurs="0" maxOccurs="1">
                        <xsd:simpleType>
                            <xsd:annotation>
                                <xsd:documentation>
                                    Het soort motie.

                                    Verwachte waarde: 
                                      - Keuze uit: `Voorstel`, `Afkeuring`, `Treurnis`, `Wantrouwen`, `Vreemd`, `Overig`
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Voorstel"/>
                                <xsd:enumeration value="Afkeuring"/>
                                <xsd:enumeration value="Treurnis"/>
                                <xsd:enumeration value="Wantrouwen"/>
                                <xsd:enumeration value="Vreemd"/>
                                <xsd:enumeration value="Overig"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="amendementGegevens">
        <xsd:complexContent>
            <xsd:extension base="besluitvormingsstukGegevens">
                <xsd:sequence>
                    <xsd:element name="toelichting" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="hoortBijVoorstel" type="voorstelGegevens" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                Verwijzing naar het voorstel waar dit een amendement op is.

                                Verwachte waarde:
                                  - `verwijzingID` (string): Uniek identificatiekenmerk van een elders gedefinieerd informatieobject
                                  - `verwijzingNaam` (string, optioneel): Naam van het informatieobject waarnaar verwezen wordt
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="heeftAlsSubamendement" type="amendementGegevens" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="voorstelGegevens">
        <xsd:complexContent>
            <xsd:extension base="besluitvormingsstukGegevens">
                <xsd:sequence>
                    <xsd:element name="portefeuillehouder" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="isIngediendDoor" type="verwijzingGegevens" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                Verwijzing naar het dagelijks bestuur dat het besluitsvormingsstuk heeft ingedient.

                                Verwachte waarde:
                                  - `verwijzingID` (string): Uniek identificatiekenmerk van het `dagelijksBestuur` waarnaar verwezen wordt
                                  - `verwijzingNaam` (string, optioneel): Naam van het bestuur waarnaar verwezen wordt
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="toezeggingGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="toezeggingsOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="antwoordGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="antwoordOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="hoortBijVraag" type="vraagGegevens" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="mededelingGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="mededelingOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="vraagGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="vraagOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="vraagType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het soort vraag.

                        Verwachte waarde:
                          - Keuze uit: `Technische vraag`, `Mondelinge politieke vraag`, `Schriftelijke politieke vraag`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Technische vraag"/>
                        <xsd:enumeration value="Mondelinge politieke vraag"/>
                        <xsd:enumeration value="Schriftelijke politieke vraag"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="gremium">
        <xsd:sequence>
            <xsd:element name="gremiumIdentificatie" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="gremiumNaam" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="gemeente">
        <xsd:sequence>
            <xsd:element name="gemeentecode" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De code van de gemeente uit de TOOI begrippenlijst 'Register gemeenten compleet'.

                        URL Waardelijst:
                          - https://standaarden.overheid.nl/tooi/waardelijsten/expression?lijst_uri=https%3A%2F%2Fidentifier.overheid.nl%2Ftooi%2Fset%2Frwc_gemeenten_compleet%2F4

                        Verwachte waarde:
                          - string: viercijferige code, eventueel met het voorvoegsel 'gm'. Bijvoorbeeld 'gm0518' voor gemeente Den Haag.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="(GM|gm)?\d{4}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="gemeentenaam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="waterschap">
        <xsd:sequence>
            <xsd:element name="waterschapcode" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De code van het waterschap uit de TOOI begrippenlijst 'Register waterschappen compleet'.

                        URL Waardelijst:
                          - https://standaarden.overheid.nl/tooi/waardelijsten/expression?lijst_uri=https%3A%2F%2Fidentifier.overheid.nl%2Ftooi%2Fset%2Frwc_waterschappen_compleet%2F1

                        Verwachte waarde:
                          - string: viercijferige code, eventueel met het voorvoegsel 'ws'. Bijvoorbeeld `ws0652` voor waterschap Brabantse Delta.
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="(ws|WS)?\d{4}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="waterschapnaam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="provincie">
        <xsd:sequence>
            <xsd:element name="provinciecode" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De code van de provincie uit de TOOI begrippenlijst 'Register provincies compleet'.

                        URL waardelijst:
                          - https://standaarden.overheid.nl/tooi/waardelijsten/expression?lijst_uri=https%3A%2F%2Fidentifier.overheid.nl%2Ftooi%2Fset%2Frwc_provincies_compleet%2F1

                        Verwachte waarde:
                          - string: tweecijferige code, eventueel met het voorvoegsel 'pv'. Bijvoorbeeld `pv20` voor provincie Groningen.
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="(pv|PV)?\d{2}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="provincienaam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="bestuurslaag">
        <xsd:choice>
            <xsd:element name="gemeente" type="gemeente" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="waterschap" type="waterschap" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="provincie" type="provincie" minOccurs="1" maxOccurs="1"/>
        </xsd:choice>
    </xsd:complexType>
</xsd:schema>
