ORI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="https://www.w3.org/2001/XMLSchema" xmlns="https://github.com/lmasrarsaml/ORI-XSD" targetNamespace="https://github.com/lmasrarsaml/ORI-XSD" elementFormDefault="qualified" version="v0.0.1">
	<xsd:element name="OpenRaadsinformatie" type="OpenRaadsinformatie"/>
	<xsd:complexType name="OpenRaadsinformatie">
		<xsd:sequence>
			<xsd:element name="Vergadering" type="Vergadering" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Agendapunt" type="Agendapunt" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Stemming" type="Stemming" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Besluit" type="Besluit" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Indiener" type="Indiener" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OrganisatorischeEenheid" type="OrganisatorischeEenheid" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Zaak" type="Zaak" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Informatieobject" type="Informatieobject" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="EnkelvoudigInformatieobject" type="EnkelvoudigInformatieobject" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Motie" type="Motie" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Amendement" type="Amendement" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Voorstel" type="Voorstel" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IngekomenStuk" type="IngekomenStuk" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Vraag" type="Vraag" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Antwoord" type="Antwoord" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Toezegging" type="Toezegging" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Mededeling" type="Mededeling" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="NatuurlijkPersoon" type="NatuurlijkPersoon" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AanwezigeDeelnemer" type="AanwezigeDeelnemer" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="DagelijksBestuur" type="DagelijksBestuur" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Fractie" type="Fractie" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Mediabron" type="Mediabron" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Vergadering">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Naam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="VergaderToelichting" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="GeorganiseerddoorGremium" type="GREMIUM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Vergaderingstype" type="vergaderingsType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Locatie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Status" type="vergaderingStatus" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="GeplandeVergaderdatum" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Vergaderdatum" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="GeplandeAanvangVergadering" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="GeplandeEindeVergadering" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AanvangVergadering" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="EindeVergadering" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Publicatiedatum" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            		<xsd:element name="Bestuurslaag" type="Bestuurslaag" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="IsVastgelegdMiddels" type="Mediabron" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IsGenotuleerdIn" type="Informatieobject" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="HeeftAlsBijlage" type="Informatieobject" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="HeeftAlsDeelvergadering" type="Vergadering" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Agendapunt">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="AgendapuntOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="GeplandAgendapuntvolgnummer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Agendapuntvolgnummer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="GeplandeEindtijd" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="GeplandeStarttijd" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Starttijd" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Eindtijd" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AgendapuntKenmerk" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AgendapuntTitel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Indicatiehamerstuk" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IndicatorBehandeld" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IndicatorBesloten" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
           		<xsd:element name="Bestuurslaag" type="Bestuurslaag" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="WordtBehandeldTijdens" type="Vergadering" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="HeeftAlsSubagendapunt" type="Agendapunt" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="HeeftBehandelendAmbtenaar" type="NatuurlijkPersoon" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="HeeftAlsBijlage" type="Informatieobject" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Spreekfragment">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="AanvangSpreekfragment" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="EindeSpreekfragment" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Taal" type="xsd:language" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="TekstSpreekfragment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="TitelSpreekfragment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="PositieNotulen" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AudioTijdsaanduidingAanvang" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AudioTijdsaanduidingEinde" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="VideoTijdsaanduidingAanvang" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="VideoTijdsaanduidingEinde" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IsVastgelegdIn" type="Mediabron" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SpreektTijdens" type="Agendapunt" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Stemming">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="StemmingsType" type="stemmingsType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ResultaatMondelingeStemming" type="stemmingResultaat" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ResultaatStemmingoverPersonen" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StemmingoverPersonen" type="StemmingoverPersonen" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="HeeftBetrekkingOpAgendapunt" type="Agendapunt" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="HeeftBetrekkingOpBesluitvormingsstuk" type="Besluitvormingsstuk" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="LeidtTotBesluit" type="Besluit" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Mediabron">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="LocatieWebvttbestand" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Mimetype" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Mediabrontype" type="mediabronType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="URL" type="anyURI" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NatuurlijkPersoon">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Geslachtsaanduiding" type="geslacht" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Functie" type="functie" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="NaamNatuurlijkPersoon" type="NaamNatuurlijkPersoon" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="NevenfunctieNatuurlijkPersoon" type="NevenfunctieNatuurlijkPersoon" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IsLidVanFractie" type="Fractielidmaatschap" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IsLidVanDagelijksBestuur" type="DagelijksBestuurLidmaatschap" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NaamNatuurlijkPersoon">
		<xsd:sequence>
			<xsd:element name="Achternaam" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Tussenvoegsel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Voorletters" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Voornamen" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="VolledigeNaam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NevenfunctieNatuurlijkPersoon">
		<xsd:sequence>
			<xsd:element name="OmschrijvingNevenfunctie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="NaamOrganisatieNevenfunctie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AantalUrenperMaand" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IndicatorBezoldigd" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IndicatorNevenfunctieVanwegeLidmaatschap" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DatumMelding" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DatumAanvangNevenfunctie" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DatumEindeNevenfunctie" type="xsd:date" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrganisatorischeEenheid">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="E-mailadres" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Faxnummer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Naam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="NaamVerkort" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Omschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Telefoonnummer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Toelichting" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StemmingoverPersonen">
		<xsd:sequence>
			<xsd:element name="NaamKandidaat" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="AantalUitgebrachteStemmen" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AanwezigeDeelnemer">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Rolnaam" type="rolNaam" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Organisatie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Deelnemerspositie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AanvangAanwezigheid" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="EindeAanwezigheid" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="NeemtDeelAanVergadering" type="Vergadering" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IsNatuurlijkPersoon" type="NatuurlijkPersoon" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="NeemtDeelAanStemming" type="Stem" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SpreektTijdens" type="Spreekfragment" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DagelijksBestuurLidmaatschap">
		<xsd:all>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="DatumBeginDagelijkseBestuurLidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DatumEindeDagelijkseBestuurLidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DagelijksBestuur" type="DagelijksBestuur" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="DagelijksBestuur">
		<xsd:all>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="DagelijksBestuursnaam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DagelijksBestuurstype" type="DagelijksBestuursType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Bestuurslaag" type="Bestuurslaag" minOccurs="1" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="Zaak">
		<xsd:sequence>
			<xsd:element name="ZaakID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Zaakregistratie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Omschrijving" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Informatieobject">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Titel" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Bronorganisatie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Versie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Auteur" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Creatiedatum" type="xsd:date" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Link" type="anyURI" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Vertrouwelijkheidsaanduiding" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Bestuurslaag" type="Bestuurslaag" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Zaken" type="Zaak" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EnkelvoudigInformatieobject">
		<xsd:complexContent>
			<xsd:extension base="Informatieobject">
				<xsd:sequence>
					<xsd:element name="Taal" type="xsd:language" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="Inhoud" type="xsd:string" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Motie">
		<xsd:complexContent>
			<xsd:extension base="Besluitvormingsstuk">
				<xsd:sequence>
					<xsd:element name="Motietype" type="motieType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Toezegging">
		<xsd:complexContent>
			<xsd:extension base="EnkelvoudigInformatieobject">
				<xsd:sequence>
					<xsd:element name="Toezeggingsomschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Antwoord">
		<xsd:complexContent>
			<xsd:extension base="EnkelvoudigInformatieobject">
				<xsd:sequence>
					<xsd:element name="Antwoordomschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="BehorendBijVraag" type="Vraag" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Voorstel">
		<xsd:complexContent>
			<xsd:extension base="Besluitvormingsstuk">
				<xsd:sequence>
					<xsd:element name="Portefeuillehouder" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="IsIngediendDoor" type="DagelijksBestuur" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Mededeling">
		<xsd:complexContent>
			<xsd:extension base="EnkelvoudigInformatieobject">
				<xsd:sequence>
					<xsd:element name="Mededelingomschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IngekomenStuk">
		<xsd:complexContent>
			<xsd:extension base="EnkelvoudigInformatieobject"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Amendement">
		<xsd:complexContent>
			<xsd:extension base="Besluitvormingsstuk">
				<xsd:sequence>
					<xsd:element name="Toelichting" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="HoortBijVoorstel" type="Voorstel" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="SubamendementVan" type="Amendement" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Besluit">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="BesluitToelichting" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Toezegging" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BesluitResultaat" type="besluitResultaat" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Indiener">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Naam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AdresBinnenland" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="HeeftIngediend" type="Informatieobject" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IsNatuurlijkPersoon" type="NatuurlijkPersoon" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IsOrganisatorischeEenheid" type="OrganisatorischeEenheid" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Besluitvormingsstuk" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="EnkelvoudigInformatieobject">
				<xsd:sequence>
					<xsd:element name="Omschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="DatumIngediend" type="xsd:date" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Fractie">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Fractienaam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            		<xsd:element name="Bestuurslaag" type="Bestuurslaag" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="FractieNeemtDeelAanStemming" type="StemresultaatPerFractie" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StemresultaatPerFractie">
		<xsd:all>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="FractieStemresultaat" type="fractieStemResultaat" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="GegevenOpStemming" type="Stemming" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="Fractielidmaatschap">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="DatumBeginFractielidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DatumEindeFractielidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IndicatieVoorzitter" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Fractie" type="Fractie" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Vraag">
		<xsd:complexContent>
			<xsd:extension base="EnkelvoudigInformatieobject">
				<xsd:sequence>
					<xsd:element name="Vraagomschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="VraagType" type="vraagType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Stem">
		<xsd:all>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="KeuzeStemming" type="stemKeuze" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="GegevenOpStemming" type="Stemming" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="GREMIUM">
		<xsd:all>
			<xsd:element name="Gremiumidentificatie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="GremiumNaam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="GEMEENTE">
		<xsd:sequence>
			<xsd:element name="Gemeentecode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Gemeentenaam" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WATERSCHAP">
		<xsd:sequence>
			<xsd:element name="Waterschapcode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Waterschapnaam" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<complexType name="Bestuurslaag">
		<choice>
			<element name="WATERSCHAP" type="WATERSCHAP"/>
			<element name="Provincie" type="Provincie"/>
			<element name="GEMEENTE" type="GEMEENTE"/>
		</choice>
	</complexType>
	<xsd:simpleType name="vraagType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Technische vraag"/>
			<xsd:enumeration value="Mondelinge politieke vraag"/>
			<xsd:enumeration value="Schriftelijke politieke vraag"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="besluitResultaat">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Unaniem aangenomen"/>
			<xsd:enumeration value="Aangenomen"/>
			<xsd:enumeration value="Geamendeerd aangenomen"/>
			<xsd:enumeration value="Onder voorbehoud aangenomen"/>
			<xsd:enumeration value="Verworpen"/>
			<xsd:enumeration value="Aangehouden"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="motieType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Voorstel"/>
			<xsd:enumeration value="Afkeuring"/>
			<xsd:enumeration value="Treurnis"/>
			<xsd:enumeration value="Wantrouwen"/>
			<xsd:enumeration value="Vreemd"/>
			<xsd:enumeration value="Overig"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="mediabronType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Video"/>
			<xsd:enumeration value="Audio"/>
			<xsd:enumeration value="Transcriptie"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stemKeuze">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Voor"/>
			<xsd:enumeration value="Tegen"/>
			<xsd:enumeration value="Afwezig"/>
			<xsd:enumeration value="Onthouden"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fractieStemResultaat">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Aangenomen"/>
			<xsd:enumeration value="Verworpen"/>
			<xsd:enumeration value="Verdeeld"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stemmingsType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Hoofdelijk"/>
			<xsd:enumeration value="Regulier"/>
			<xsd:enumeration value="Schriftelijk"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stemmingResultaat">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Voor"/>
			<xsd:enumeration value="Tegen"/>
			<xsd:enumeration value="Gelijk"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="besluitvormingsStukkenType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Hamerstukken"/>
			<xsd:enumeration value="Bespreekstukken"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="vergaderingStatus">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Gepland"/>
			<xsd:enumeration value="Gehouden"/>
			<xsd:enumeration value="Geannuleerd"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="vergaderingsType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Raadsvergadering"/>
			<xsd:enumeration value="Commissievergadering"/>
			<xsd:enumeration value="Statenvergadering"/>
			<xsd:enumeration value="Algemene bestuursvergadering"/>
			<xsd:enumeration value="Presidium"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="rolNaam">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Voorzitter"/>
			<xsd:enumeration value="Vice-voorzitter"/>
			<xsd:enumeration value="Raadslid"/>
			<xsd:enumeration value="Statenlid"/>
			<xsd:enumeration value="Dagelijks bestuurslid"/>
			<xsd:enumeration value="Algemeen bestuurslid"/>
			<xsd:enumeration value="Inspreker"/>
			<xsd:enumeration value="Portefeuillehouder"/>
			<xsd:enumeration value="Griffier"/>
			<xsd:enumeration value="Overig"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="functie">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Burgemeester"/>
			<xsd:enumeration value="Wethouder"/>
			<xsd:enumeration value="Raadslid"/>
			<xsd:enumeration value="Burgerlid"/>
			<xsd:enumeration value="Griffier"/>
			<xsd:enumeration value="Gemeentesecretaris"/>
			<xsd:enumeration value="Commissaris van de Koning"/>
			<xsd:enumeration value="Gedeputeerde"/>
			<xsd:enumeration value="Statenlid"/>
			<xsd:enumeration value="Provinciesecretaris"/>
			<xsd:enumeration value="Dijkgraaf"/>
			<xsd:enumeration value="Dagelijks bestuurslid"/>
			<xsd:enumeration value="Algemeen bestuurslid"/>
			<xsd:enumeration value="Secretarisdirecteur"/>
			<xsd:enumeration value="Ambtenaar/Medewerker"/>
			<xsd:enumeration value="Adviseur of Deskundige"/>
			<xsd:enumeration value="Overig"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="geslacht">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Man"/>
			<xsd:enumeration value="Vrouw"/>
			<xsd:enumeration value="Anders"/>
			<xsd:enumeration value="Onbekend"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DagelijksBestuursType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="College"/>
			<xsd:enumeration value="Gedeputeerde Staten"/>
			<xsd:enumeration value="Dagelijks bestuur"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Provincie">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Drenthe"/>
			<xsd:enumeration value="Groningen"/>
			<xsd:enumeration value="Overijssel"/>
			<xsd:enumeration value="Flevoland"/>
			<xsd:enumeration value="Gelderland"/>
			<xsd:enumeration value="Utrecht"/>
			<xsd:enumeration value="Noord-Holland"/>
			<xsd:enumeration value="Zuid-Holland"/>
			<xsd:enumeration value="Zeeland"/>
			<xsd:enumeration value="Noord-Brabant"/>
			<xsd:enumeration value="Limburg"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
