ORI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="https://www.w3.org/2001/XMLSchema" xmlns="https://vng.nl/projecten/open-raadsinformatie" targetNamespace="https://vng.nl/projecten/open-raadsinformatie" elementFormDefault="qualified" version="v0.0.1">
	<xsd:element name="ORI" type="ORI"/>
	<xsd:complexType name="ORI">
		<xsd:sequence>
			<xsd:element name="vergadering" type="vergadering" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Een `vergadering` is een bijeenkomst van meerdere mensen die met elkaar spreken en/of afspraken maken over onderwerpen die op de agenda staan.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="agendapunt" type="agendapunt" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Een onderdeel van de agenda dat als één geheel wordt behandeld. Een `agendapunt` kan weer onderverdeeld zijn in subagendapunten.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="stemming" type="stemming" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Een moment waarop een keuze gemaakt moet worden over een bepaald `agendapunt` of `vergaderstuk`, waarbij alle uitgebrachte stemmen geteld worden. Alleen aanwezige raadsleden (gemeente) of statenleden (provincie) kunnen een stem uitbrengen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="besluit" type="besluit" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Een na beraadslaging vastgestelde beslissing.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indiener" type="indiener" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>De indiener, zijnde een natuurlijk persoon of een organisatorische eenheid, van een informatieobject.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="organisatorischeEenheid" type="organisatorischeEenheid" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Het deel van een functioneel afgebakend onderdeel binnen de organisatie die verantwoordelijk is voor de behandeling van zaken.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="zaak" type="zaak" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="informatieobject" type="informatieobject" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
					Een op zichzelf staand geheel van gegevens met een eigen identiteit, inclusief
					bijbehorende metadata ontvangen of gecreëerd door een natuurlijke en/of
					rechtspersoon bij de uitvoering van diens taken.

					Een informatieobject is altijd gekoppeld aan minimaal een van de volgende objecten:
					  * Vergadering
					  * Agendapunt
					  * Stemming
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="enkelvoudigInformatieobject" type="enkelvoudigInformatieobject" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="motie" type="motie" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="amendement" type="amendement" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="voorstel" type="voorstel" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ingekomenStuk" type="ingekomenStuk" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vraag" type="vraag" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="antwoord" type="antwoord" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="toezegging" type="toezegging" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Bij een `besluit` kan een additionele toezegging gedaan worden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mededeling" type="mededeling" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="natuurlijkPersoon" type="natuurlijkPersoon" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="aanwezigeDeelnemer" type="aanwezigeDeelnemer" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>De NATUURLIJKe `persoon` die deelneemt aan een `vergadering`.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dagelijksBestuur" type="dagelijksBestuur" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Het dagelijkse bestuur van de gemeente (college) of provincie (gedeputeerde staten) bereidt het beleid voor en voert dit beleid uit.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fractie" type="fractie" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Deel van een gekozen volksvertegenwoordiging.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mediabron" type="mediabron" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Verwijzing naar de mediabron waarin het `spreekfragment` is vastgelegd.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="vergadering">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unieke resource identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="naam" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De naam van de vergadering.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vergaderToelichting" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De toelichting of nadere omschrijving van de vergadering.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="georganiseerdDoorGremium" type="gremium" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Het gremium dat de vergadering georganiseerd heeft.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vergaderingstype" type="vergaderingstype" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De type-aanduiding van de vergadering. 

                    Mogelijke type:
                      * raadsvergadering 
                      * commissievergadering
                      * presidium
                      * statenvergadering
                      * algemene_bestuursvergadering
                    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="locatie" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Omschrijving van de locatie waar de vergadering wordt gehouden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="status" type="vergaderingStatus" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="geplandeVergaderdatum" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De geplande datum van de `vergadering`.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vergaderdatum" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De datum van de `vergadering`.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="geplandeAanvangVergadering" type="xsd:time" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De geplande datum en tijdstip waarop de vergadering start.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="geplandeEindeVergadering" type="xsd:time" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De geplande datum en tijdstip waarop de vergadering eindigt.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="aanvangVergadering" type="xsd:time" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De datum en tijdstip waarop de vergadering is gestart Komt zeker voor als Einde vergadering ook is ingevuld.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="eindeVergadering" type="xsd:time" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De datum en tijdstip waarop de vergadering is geëindigd.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="publicatiedatum" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De datum waarop de vergadering voor het laatst gepubliceerd is. Het kan zijn dat er wijzigingen hebben plaatsgevonden en dat de vergadering opnieuw is gepubliceerd. Dit veld bevat de meest recente publicatiedatum.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bestuurslaag" type="bestuurslaag" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isVastgelegdMiddels" type="mediabron" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isGenotuleerdIn" type="informatieobject" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="heeftAlsBijlage" type="informatieobject" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="heeftAlsDeelvergadering" type="vergadering" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="agendapunt">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unieke resource identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="agendapuntOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De omschrijving van het agendapunt.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="geplandAgendapuntVolgnummer" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Dit is het geplande volgnummer van het `agendapunt` van een vergadering.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="agendapuntVolgnummer" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Dit is het volgnummer van het `agendapunt` tijdens de vergadering. Dit is de letterlijke volgorde en zegt niets over hoe dit volgnummer getoond wordt. Hoe het Agendapunt getoond wordt op de Agenda wordt beschreven met attribuut 'Agendapunt kenmerk'.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="geplandeEindtijd" type="xsd:time" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De geplande datum en tijdstip waarop de behandeling van de agendapunt eindigt.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="geplandeStarttijd" type="xsd:time" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De geplande datum en tijdstip waarop de behandeling van de agendapunt start.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="starttijd" type="xsd:time" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De datum en tijdstip waarop de behandeling van de agendapunt is gestart.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="eindtijd" type="xsd:time" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De datum en tijdstip waarop de behandeling van de agendapunt is geëindigd. Moet voorkomen als Starttijd voorkomt.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="agendapuntKenmerk" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De weergave van het Agendapuntvolgnummer op de agenda. Dit is de letterlijke volgorde van een Agendapunt wordt bij gehouden d.m.v. attribuut 'Agendapuntvolgnummer'. Hoe het Agendapunt getoond wordt op de Agenda wordt beschreven met attribuut 'Agendapunt kenmerk'.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="agendapuntTitel" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De titel of onderwerp van het agendapunt.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indicatieHamerstuk" type="xsd:boolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indicatorBehandeld" type="xsd:boolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indicator geeft aan of het `agendapunt` is behandeld tijdens de `vergadering`. Is eventueel af te leiden als Starttijd en/of Eindtijd zijn ingevuld.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indicatorBesloten" type="xsd:boolean" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indicator of een `agendapunt` besloten wordt behandeld.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bestuurslaag" type="bestuurslaag" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wordtBehandeldTijdens" type="vergadering" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="heeftAlsSubagendapunt" type="agendapunt" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="heeftBehandelendAmbtenaar" type="natuurlijkPersoon" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="heeftAlsBijlage" type="informatieobject" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="spreekfragment">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unieke resource identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="aanvangSpreekfragment" type="xsd:time" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Het tijdstip en de datum van aanvang van het `spreekfragment`.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="eindeSpreekfragment" type="xsd:time" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Het tijdstip en de datum van einde van het `spreekfragment`.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="taal" type="xsd:language" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De taal van het informatieobject. Bij voorkeur aaangeduid volgens `iso` 639-2/`b`.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tekstSpreekfragment" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De uitgeschreven weergave van het `spreekfragment`.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="titelSpreekfragment" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De titel die kenmerkend is voor het `spreekfragment` of deel van de discussie.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="positieNotulen" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De positie van het `spreekfragment` binnen de notulen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="audioTijdsaanduidingAanvang" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De tijdsaanduiding van de aanvang van het `spreekfragment` in de audio opname in seconden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="audioTijdsaanduidingEinde" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De tijdsaanduiding van het einde van het `spreekfragment` in de audio opname in seconden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="videoTijdsaanduidingAanvang" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De tijdsaanduiding van de aanvang van het `spreekfragment` in de video opname in seconden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="videoTijdsaanduidingEinde" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De tijdsaanduiding van het einde van het `spreekfragment` in de video opname in seconden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isVastgelegdIn" type="mediabron" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="spreektTijdens" type="agendapunt" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="stemming">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unieke resource identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="stemmingstype" type="stemmingstype" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
				  <xsd:documentation>
                  Duiding van het type van een `stemming`

                  * `hoofdelijk` - Hoofdelijk
                  * `regulier` - Regulier
                  * `schriftelijk` - Schriftelijk
                  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="resultaatMondelingeStemming" type="stemmingResultaat" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="resultaatStemmingOverPersonen" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Het resultaat van de stemming over één of meerdere personen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="stemmingOverPersonen" type="stemmingOverPersonen" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De individuele uitgebrachte STEMmen over personen zijn geheim. Alleen het aantal uitgebrachte stemmen per kandidaat is bekend.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="heeftBetrekkingOpAgendapunt" type="agendapunt" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="heeftBetrekkingOpBesluitvormingsstuk" type="besluitvormingsstuk" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="leidtTotBesluit" type="besluit" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="mediabron">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unieke resource identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="locatieWebVTTBestand" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De locatie waar het Webvttbestand is opgeslagen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mimetype" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Het type bestand dat is opgeslagen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mediabronType" type="mediabronType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>* `video` - Video technische vragen over een agendapunt
* `audio` - Audio
* `transcriptie` - Transcriptie
.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="URL" type="xsd:anyURI" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="natuurlijkPersoon">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unieke resource identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="geslachtsaanduiding" type="geslacht" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="functie" type="functie" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>* `burgemeester` - Burgemeester van de gemeente
* `wethouder` - Wethouder van de gemeente
* `raadslid` - Raadslid van de gemeente
* `burgerlid` - Burgerlid
* `griffier` - Griffier
* `gemeentesecretaris` - Gemeentesecretaris
* `ambtenaar_of_medewerker` - Ambtenaar of medewerker van gemeente of provincie
* `adviseur_of_deskundige` - Adviseur of deskundige
* `overig` - Overig
* `commissaris_van_de_koning` - Commissaris van de koning Commissaris van de Koning of Koningin (hoort bij de provincie)
* `gedeputeerde` - Gedeputeerde van de provincie
* `statenlid` - Statenlid van de provincie
* `provinciesecretaris` - Provinciesecretaris
* `dijkgraaf` - Dijkgraaf Waterschappen
* `dagelijks_bestuurslid` - Dagelijks bestuurslid Waterschappen
* `algemeen_bestuurslid` - Algemeen bestuurslid Waterschappen
* `secretarisdirecteur` - Secretarisdirecteur Waterschappen
.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="naamNatuurlijkPersoon" type="naamNatuurlijkPersoon" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De naam van een natuurlijk persoon. Wanneer de naam bij het invullen niet opgesplitst is in voornamen, tussenvoegsel en achternaam kan de naam ook in één keer worden geregistreerd in het veld volledigeNaam.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nevenfunctieNatuurlijkPersoon" type="nevenfunctieNatuurlijkPersoon" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isLidVanFractie" type="fractielidmaatschap" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isLidVanDagelijksBestuur" type="dagelijksBestuurLidmaatschap" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="naamNatuurlijkPersoon">
		<xsd:sequence>
			<xsd:element name="achternaam" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De achternaam van een `natuurlijk persoon`.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tussenvoegsel" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De tussenvoegsel van een `natuurlijk persoon`.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="voorletters" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De voorletters van een `natuurlijk persoon`.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="voornamen" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De voornamen van een `natuurlijk persoon`.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="volledigeNaam" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De volledige naam van een `natuurlijk persoon`.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nevenfunctieNatuurlijkPersoon">
		<xsd:sequence>
			<xsd:element name="omschrijvingNevenfunctie" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="naamOrganisatieNevenfunctie" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De naam van de organisatie van de nevenfunctie.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="aantalUrenperMaand" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Het aantal uren dat per maand besteed wordt aan de nevenfunctie.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indicatorBezoldigd" type="xsd:boolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indicator of de nevenfunctie uitgevoerd wordt tegen betaling.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indicatorNevenfunctieVanwegeLidmaatschap" type="xsd:boolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datumMelding" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De datum waarop de nevenfunctie gemeld is bij de griffier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datumAanvangNevenfunctie" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De datum van aanvang van de nevenfunctie.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datumEindeNevenfunctie" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De datum van het einde van de nevenfunctie.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="organisatorischeEenheid">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unieke resource identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="e-mailadres" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Elektronisch postadres waaronder de organisatorische eenheid in de regel bereikbaar is.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="faxnummer" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Faxnummer waaronder de organisatorische eenheid in de regel bereikbaar is.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="naam" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De feitelijke naam van de organisatorische eenheid.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="naamVerkort" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Een verkorte naam voor de organisatorische eenheid.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="omschrijving" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Een omschrijving van de organisatorische eenheid.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="telefoonnummer" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Telefoonnummer waaronder de organisatorische eenheid in de regel bereikbaar is.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="toelichting" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Toelichting bij de organisatorische eenheid.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="stemmingOverPersonen">
		<xsd:sequence>
			<xsd:element name="naamKandidaat" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De naam van de kandidaat over wie gestemd is.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="aantalUitgebrachteStemmen" type="xsd:integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Het aantal uitgebracht stemmen behorend bij een kandidaat.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="aanwezigeDeelnemer">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unieke resource identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rolNaam" type="rolNaam" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Duiding van de rollen van een natuurlijke persoon tijdens een vergadering* `voorzitter` - Voorzitter de voorzitter zit de vergadering voor
* `vice_voorzitter` - Vice voorzitter de vice-voorzitter van de vergadering
* `raadslid` - Raadslid Een raadslid is een gekozen volksvertegenwoordiger binnen een gemeente. Alle raadsleden van één gemeente vormen samen de gemeenteraad van de betreffende gemeente.
* `inspreker` - Inspreker Een inspreker is een belanghebbende of betrokkene die wil inspreken bij een agendapunt
* `overig` - Overig
* `portefeuillehouder` - Portefeuillehouder de houder van een bepaalde portefeuille.
* `statenlid` - Statenlid Een statenlid is een gekozen volksvertegenwoordiger binnen een provincie. Alle statenleden van één provincie vormen samen de Provinciale Staten van de betreffende provincie.
* `dagelijks_bestuurslid` - Dagelijks bestuurslid Waterschappen
* `algemeen_bestuurslid` - Algemeen bestuurslid Waterschappen
* `griffier` - Griffier van de vergadering
.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="organisatie" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De naam van de organisatie die wordt vertegenwoordigd door de aanwezige deelnemer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deelnemerspositie" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De plek waar een deelnemer in de zaal zit. Dit kan bijvoorbeeld een stoel of een console zijn. Dit kan o.a. van belang zijn voor de audio/video-verslaggeving.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="aanvangAanwezigheid" type="xsd:time" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De aanvang van de aanwezigheid.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="eindeAanwezigheid" type="xsd:time" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De einde van de aanwezigheid.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="neemtDeelAanVergadering" type="vergadering" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isNatuurlijkPersoon" type="natuurlijkPersoon" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="neemtDeelAanStemming" type="stem" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="spreektTijdens" type="spreekfragment" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dagelijksBestuurLidmaatschap">
		<xsd:all>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unieke resource identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datumBeginDagelijkseBestuurLidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datumEindeDagelijkseBestuurLidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dagelijksBestuur" type="dagelijksBestuur" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Verwijzing naar het dagelijks bestuur.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="dagelijksBestuur">
		<xsd:all>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>`id` van de resource waarnaar verwezen wordt.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dagelijksBestuursnaam" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Naam van het dagelijks bestuur.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dagelijksBestuurstype" type="dagelijksBestuurstype" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bestuurslaag" type="bestuurslaag" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="zaak">
		<xsd:sequence>
			<xsd:element name="zaakID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="zaakregistratie" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Identificatie van de registratie waar de zaak is vastgelegd.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="omschrijving" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Omschrijving van de zaak.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="informatieobject">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unieke resource identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="titel" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De titel van het informatieobject.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bronorganisatie" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Bronorganisatie. De in het `nhr` voorkomende unieke identificaties van rechtspersonen en samenwerkingsverbanden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="versie" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Versie. Alle alfanumerieke tekens m.u.v. diacrieten.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="auteur" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De naamgegevens van de auteur zijnde een betrokkene die in een rol aan de `zaak` gerelateerd is, dan wel, indien de auteur niet in een rol aan de `zaak` gerelateerd is, de naamgegevens van de natuurlijk persoon of organisatie zijnde de auteur. In het laatste geval verdient het aanbeveling om aanvullend te vermelden uit welken hoofde het auteurschap wordt uitgeoefend.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="creatiedatum" type="xsd:date" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Creatiedatum. Alle geldige datums gelegen op of voor de huidige datum en tijd.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="link" type="xsd:anyURI" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De `url` waarmee de inhoud van het informatieobject op te vragen is.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vertrouwelijkheidsaanduiding" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Aanduiding van de vertrouwelijkheid.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bestuurslaag" type="bestuurslaag" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="zaken" type="zaak" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Zaken die gerelateerd zijn aan dit informatieobject.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="enkelvoudigInformatieobject">
		<xsd:complexContent>
			<xsd:extension base="informatieobject">
				<xsd:sequence>
					<xsd:element name="taal" type="xsd:language" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>De taal van het informatieobject. Bij voorkeur aaangeduid volgens `iso` 639-2/`b`.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="inhoud" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Inhoud van het document De content (data) van het enkelvoudig informatieobject in het formaat zoals gespecificeerd met de attribuutsoort 'Formaat'.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="motie">
		<xsd:complexContent>
			<xsd:extension base="besluitvormingsstuk">
				<xsd:sequence>
					<xsd:element name="motieType" type="motieType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Duiding van het type van een `motie`* `voorstel` - Voorstel voorstellen van het college van `b`&amp;`w` (gemeente) of van de gedeputueerde staten (provincie) en initiatiefvoorstellen van raadsleden (gemeente) of statenleden (provincie)
* `afkeuring` - Afkeuring
* `treurnis` - Treurnis
* `wantrouwen` - Wantrouwen
* `vreemd` - Vreemd
* `overig` - Overig Dit is de standaardwaarde
.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="toezegging">
		<xsd:complexContent>
			<xsd:extension base="enkelvoudigInformatieobject">
				<xsd:sequence>
					<xsd:element name="toezeggingsOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>TODO</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="antwoord">
		<xsd:complexContent>
			<xsd:extension base="enkelvoudigInformatieobject">
				<xsd:sequence>
					<xsd:element name="antwoordOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>TODO</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="behorendBijVraag" type="vraag" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>TODO</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="voorstel">
		<xsd:complexContent>
			<xsd:extension base="besluitvormingsstuk">
				<xsd:sequence>
					<xsd:element name="portefeuillehouder" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>De naam van de portefeuillehouder van het `voorstel`.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="isIngediendDoor" type="dagelijksBestuur" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>TODO</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="mededeling">
		<xsd:complexContent>
			<xsd:extension base="enkelvoudigInformatieobject">
				<xsd:sequence>
					<xsd:element name="mededelingOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>TODO</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ingekomenStuk">
		<xsd:complexContent>
			<xsd:extension base="enkelvoudigInformatieobject"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="amendement">
		<xsd:complexContent>
			<xsd:extension base="besluitvormingsstuk">
				<xsd:sequence>
					<xsd:element name="toelichting" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>De toelichting op het `amendement`.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="hoortBijVoorstel" type="voorstel" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>TODO</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="subamendementVan" type="amendement" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>TODO</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="besluit">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unieke resource identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="besluitToelichting" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Toelichting bij het besluit.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="toezegging" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Bij een `besluit` kan een additionele toezegging gedaan worden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="besluitResultaat" type="besluitResultaat" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Het resultaat van het `besluit`.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="indiener">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unieke resource identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="naam" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De benaming van de indiener.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adresBinnenland" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De aanduiding van het adres van de indiener.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="heeftIngediend" type="informatieobject" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isNatuurlijkPersoon" type="natuurlijkPersoon" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isOrganisatorischeEenheid" type="organisatorischeEenheid" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="besluitvormingsstuk" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="enkelvoudigInformatieobject">
				<xsd:sequence>
					<xsd:element name="omschrijving" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>TODO</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="datumIngediend" type="xsd:date" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>De datum waarop het `besluitvormingsstuk` is ingediend.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="fractie">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unieke resource identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fractienaam" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De naam van de fractie.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bestuurslaag" type="bestuurslaag" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fractieNeemtDeelAanStemming" type="stemresultaatPerFractie" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="stemresultaatPerFractie">
		<xsd:all>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unieke resource identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fractieStemresultaat" type="fractieStemresultaat" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>* `aangenomen` - Aangenomen de gehele aanwezige fractie heeft voor gestemd
* `verworpen` - Verworpen de gehele aanwezige fractie heeft tegen gestemd
* `verdeeld` - Verdeeld de stemming in de fractie was verdeeld: een deel was voor en een deel was tegen
.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gegevenOpStemming" type="stemming" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="fractielidmaatschap">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unieke resource identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datumBeginFractielidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De datum en tijdstip waarop het fractie lidmaatschap begon.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datumEindeFractielidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De datum en tijdstip waarop het fractie lidmaatschap geëindigd is.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indicatieVoorzitter" type="xsd:boolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indicatie of iemand de voorzitter is van de `fractie`.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fractie" type="fractie" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Verwijzing naar de fractie.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="vraag">
		<xsd:complexContent>
			<xsd:extension base="enkelvoudigInformatieobject">
				<xsd:sequence>
					<xsd:element name="vraagOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>TODO</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vraagType" type="vraagType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>De type van de vraag * `technische_vraag` - Technische vraag technische vragen over een agendapunt
* `mondelinge_politieke_vraag` - Mondelinge politieke vraag
* `schriftelijke_politieke_vraag` - Schriftelijke politieke vraag
.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="stem">
		<xsd:all>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unieke resource identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="keuzeStemming" type="stemKeuze" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gegevenOpStemming" type="stemming" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TODO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="gremium">
		<xsd:all>
			<xsd:element name="gremiumIdentificatie" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De identificatie van een gremium De identificatie van een gremium.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gremiumNaam" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De naam van het gremium. Hier horen ook de (raads- en staten)commissies bij.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="gemeente">
		<xsd:sequence>
			<xsd:element name="gemeentecode" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De code van een gemeente in de landelijke tabel.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gemeentenaam" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De naam van de gemeente.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="waterschap">
		<xsd:sequence>
			<xsd:element name="waterschapcode" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De code van het waterschap in de CBS tabel.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="waterschapnaam" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>De naam van het waterschap.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="bestuurslaag">
		<xsd:choice>
			<xsd:element name="waterschap" type="waterschap"/>
			<xsd:element name="provincie" type="provincie"/>
			<xsd:element name="gemeente" type="gemeente"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:simpleType name="vraagType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Technische vraag"/>
			<xsd:enumeration value="Mondelinge politieke vraag"/>
			<xsd:enumeration value="Schriftelijke politieke vraag"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="besluitResultaat">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Unaniem aangenomen"/>
			<xsd:enumeration value="Aangenomen"/>
			<xsd:enumeration value="Geamendeerd aangenomen"/>
			<xsd:enumeration value="Onder voorbehoud aangenomen"/>
			<xsd:enumeration value="Verworpen"/>
			<xsd:enumeration value="Aangehouden"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="motieType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Voorstel"/>
			<xsd:enumeration value="Afkeuring"/>
			<xsd:enumeration value="Treurnis"/>
			<xsd:enumeration value="Wantrouwen"/>
			<xsd:enumeration value="Vreemd"/>
			<xsd:enumeration value="Overig"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="mediabronType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Video"/>
			<xsd:enumeration value="Audio"/>
			<xsd:enumeration value="Transcriptie"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stemKeuze">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Voor"/>
			<xsd:enumeration value="Tegen"/>
			<xsd:enumeration value="Afwezig"/>
			<xsd:enumeration value="Onthouden"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fractieStemresultaat">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Aangenomen"/>
			<xsd:enumeration value="Verworpen"/>
			<xsd:enumeration value="Verdeeld"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stemmingstype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Hoofdelijk"/>
			<xsd:enumeration value="Regulier"/>
			<xsd:enumeration value="Schriftelijk"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stemmingResultaat">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Voor"/>
			<xsd:enumeration value="Tegen"/>
			<xsd:enumeration value="Gelijk"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="besluitvormingsstukkenType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Hamerstukken"/>
			<xsd:enumeration value="Bespreekstukken"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="vergaderingStatus">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Gepland"/>
			<xsd:enumeration value="Gehouden"/>
			<xsd:enumeration value="Geannuleerd"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="vergaderingstype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Raadsvergadering"/>
			<xsd:enumeration value="Commissievergadering"/>
			<xsd:enumeration value="Statenvergadering"/>
			<xsd:enumeration value="Algemene bestuursvergadering"/>
			<xsd:enumeration value="Presidium"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="rolNaam">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Voorzitter"/>
			<xsd:enumeration value="Vice-voorzitter"/>
			<xsd:enumeration value="Raadslid"/>
			<xsd:enumeration value="Statenlid"/>
			<xsd:enumeration value="Dagelijks bestuurslid"/>
			<xsd:enumeration value="Algemeen bestuurslid"/>
			<xsd:enumeration value="Inspreker"/>
			<xsd:enumeration value="Portefeuillehouder"/>
			<xsd:enumeration value="Griffier"/>
			<xsd:enumeration value="Overig"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="functie">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Burgemeester"/>
			<xsd:enumeration value="Wethouder"/>
			<xsd:enumeration value="Raadslid"/>
			<xsd:enumeration value="Burgerlid"/>
			<xsd:enumeration value="Griffier"/>
			<xsd:enumeration value="Gemeentesecretaris"/>
			<xsd:enumeration value="Commissaris van de Koning"/>
			<xsd:enumeration value="Gedeputeerde"/>
			<xsd:enumeration value="Statenlid"/>
			<xsd:enumeration value="Provinciesecretaris"/>
			<xsd:enumeration value="Dijkgraaf"/>
			<xsd:enumeration value="Dagelijks bestuurslid"/>
			<xsd:enumeration value="Algemeen bestuurslid"/>
			<xsd:enumeration value="Secretarisdirecteur"/>
			<xsd:enumeration value="Ambtenaar/medewerker"/>
			<xsd:enumeration value="Adviseur of deskundige"/>
			<xsd:enumeration value="Overig"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="geslacht">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Man"/>
			<xsd:enumeration value="Vrouw"/>
			<xsd:enumeration value="Anders"/>
			<xsd:enumeration value="Onbekend"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dagelijksBestuurstype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="College"/>
			<xsd:enumeration value="Gedeputeerde Staten"/>
			<xsd:enumeration value="Dagelijks bestuur"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="provincie">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Drenthe"/>
			<xsd:enumeration value="Groningen"/>
			<xsd:enumeration value="Overijssel"/>
			<xsd:enumeration value="Flevoland"/>
			<xsd:enumeration value="Gelderland"/>
			<xsd:enumeration value="Utrecht"/>
			<xsd:enumeration value="Noord-Holland"/>
			<xsd:enumeration value="Zuid-Holland"/>
			<xsd:enumeration value="Zeeland"/>
			<xsd:enumeration value="Noord-Brabant"/>
			<xsd:enumeration value="Limburg"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
