ORI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="https://www.w3.org/2001/XMLSchema" xmlns="https://github.com/lmasrarsaml/ORI-XSD" targetNamespace="https://github.com/lmasrarsaml/ORI-XSD" elementFormDefault="qualified" version="v0.0.1">
	<xsd:element name="ORI" type="ORI"/>
	<xsd:complexType name="ORI">
		<xsd:sequence>
			<xsd:element name="vergadering" type="vergadering" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="agendapunt" type="agendapunt" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="stemming" type="stemming" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="besluit" type="besluit" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="indiener" type="indiener" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="organisatorischeEenheid" type="organisatorischeEenheid" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="zaak" type="Zaak" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="informatieobject" type="Informatieobject" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="enkelvoudigInformatieobject" type="EnkelvoudigInformatieobject" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="motie" type="Motie" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="amendement" type="Amendement" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="voorstel" type="Voorstel" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ingekomenStuk" type="IngekomenStuk" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="vraag" type="Vraag" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="antwoord" type="Antwoord" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="toezegging" type="Toezegging" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="mededeling" type="Mededeling" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="natuurlijkPersoon" type="NatuurlijkPersoon" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="aanwezigeDeelnemer" type="AanwezigeDeelnemer" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="dagelijksBestuur" type="DagelijksBestuur" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="fractie" type="Fractie" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="mediabron" type="Mediabron" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="vergadering">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="naam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="vergaderToelichting" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="georganiseerddoorGremium" type="gremium" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="vergaderingstype" type="vergaderingsType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="locatie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="status" type="vergaderingStatus" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="geplandeVergaderdatum" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="vergaderdatum" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="geplandeAanvangVergadering" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="geplandeEindeVergadering" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="aanvangVergadering" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="eindeVergadering" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="publicatiedatum" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="bestuurslaag" type="Bestuurslaag" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="isVastgelegdMiddels" type="Mediabron" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="isGenotuleerdIn" type="Informatieobject" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="heeftAlsBijlage" type="Informatieobject" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="heeftAlsDeelvergadering" type="vergadering" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="agendapunt">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="agendapuntOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="geplandAgendapuntvolgnummer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="agendapuntvolgnummer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="geplandeEindtijd" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="geplandeStarttijd" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="starttijd" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="eindtijd" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="agendapuntKenmerk" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="agendapuntTitel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="indicatiehamerstuk" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="indicatorBehandeld" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="indicatorBesloten" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
           	<xsd:element name="bestuurslaag" type="Bestuurslaag" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="wordtBehandeldTijdens" type="vergadering" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="heeftAlsSubagendapunt" type="agendapunt" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="heeftBehandelendAmbtenaar" type="NatuurlijkPersoon" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="heeftAlsBijlage" type="Informatieobject" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="spreekfragment">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="aanvangSpreekfragment" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="eindeSpreekfragment" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="taal" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="tekstSpreekfragment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="titelSpreekfragment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="positieNotulen" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="audioTijdsaanduidingAanvang" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="audioTijdsaanduidingEinde" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="videoTijdsaanduidingAanvang" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="videoTijdsaanduidingEinde" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="isVastgelegdIn" type="Mediabron" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="spreektTijdens" type="agendapunt" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="stemming">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="stemmingsType" type="stemmingsType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="resultaatMondelingeStemming" type="stemmingResultaat" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="resultaatStemmingoverPersonen" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="stemmingoverPersonen" type="StemmingoverPersonen" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="heeftBetrekkingOpAgendapunt" type="agendapunt" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="heeftBetrekkingOpBesluitvormingsstuk" type="Besluitvormingsstuk" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="leidtTotBesluit" type="besluit" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="mediabron">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="locatieWebvttbestand" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="mimetype" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="mediabrontype" type="mediabronType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="URL" type="anyURI" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NatuurlijkPersoon">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="geslachtsaanduiding" type="geslacht" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="functie" type="functie" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="naamNatuurlijkPersoon" type="NaamNatuurlijkPersoon" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="nevenfunctieNatuurlijkPersoon" type="NevenfunctieNatuurlijkPersoon" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="isLidVanFractie" type="Fractielidmaatschap" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="isLidVanDagelijksBestuur" type="DagelijksBestuurLidmaatschap" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="naamNatuurlijkPersoon">
		<xsd:sequence>
			<xsd:element name="achternaam" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="tussenvoegsel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="voorletters" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="voornamen" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="volledigeNaam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nevenfunctieNatuurlijkPersoon">
		<xsd:sequence>
			<xsd:element name="omschrijvingNevenfunctie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="naamOrganisatieNevenfunctie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="aantalUrenperMaand" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="indicatorBezoldigd" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="indicatorNevenfunctieVanwegeLidmaatschap" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="datumMelding" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="datumAanvangNevenfunctie" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="datumEindeNevenfunctie" type="xsd:date" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="organisatorischeEenheid">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="e-mailadres" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="faxnummer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="naam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="naamVerkort" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="omschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="telefoonnummer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="toelichting" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="stemmingoverPersonen">
		<xsd:sequence>
			<xsd:element name="naamKandidaat" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="aantalUitgebrachteStemmen" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="aanwezigeDeelnemer">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="rolnaam" type="rolNaam" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="organisatie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="deelnemerspositie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="aanvangAanwezigheid" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="eindeAanwezigheid" type="xsd:time" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="neemtDeelAanVergadering" type="vergadering" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="isNatuurlijkPersoon" type="NatuurlijkPersoon" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="neemtDeelAanStemming" type="Stem" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="spreektTijdens" type="Spreekfragment" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dagelijksBestuurLidmaatschap">
		<xsd:all>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="datumBeginDagelijkseBestuurLidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="datumEindeDagelijkseBestuurLidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="dagelijksBestuur" type="DagelijksBestuur" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="dagelijksBestuur">
		<xsd:all>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="dagelijksBestuursnaam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="dagelijksBestuurstype" type="DagelijksBestuursType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="bestuurslaag" type="Bestuurslaag" minOccurs="1" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="zaak">
		<xsd:sequence>
			<xsd:element name="zaakID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="zaakregistratie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="omschrijving" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="informatieobject">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="titel" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="bronorganisatie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="versie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="auteur" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="creatiedatum" type="xsd:date" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="link" type="anyURI" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="vertrouwelijkheidsaanduiding" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="bestuurslaag" type="Bestuurslaag" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="zaken" type="Zaak" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="enkelvoudigInformatieobject">
		<xsd:complexContent>
			<xsd:extension base="Informatieobject">
				<xsd:sequence>
					<xsd:element name="taal" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="inhoud" type="xsd:string" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="motie">
		<xsd:complexContent>
			<xsd:extension base="Besluitvormingsstuk">
				<xsd:sequence>
					<xsd:element name="motietype" type="motieType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="toezegging">
		<xsd:complexContent>
			<xsd:extension base="EnkelvoudigInformatieobject">
				<xsd:sequence>
					<xsd:element name="toezeggingsomschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="antwoord">
		<xsd:complexContent>
			<xsd:extension base="EnkelvoudigInformatieobject">
				<xsd:sequence>
					<xsd:element name="antwoordomschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="behorendBijVraag" type="Vraag" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="voorstel">
		<xsd:complexContent>
			<xsd:extension base="Besluitvormingsstuk">
				<xsd:sequence>
					<xsd:element name="portefeuillehouder" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="isIngediendDoor" type="DagelijksBestuur" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="mededeling">
		<xsd:complexContent>
			<xsd:extension base="EnkelvoudigInformatieobject">
				<xsd:sequence>
					<xsd:element name="mededelingomschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ingekomenStuk">
		<xsd:complexContent>
			<xsd:extension base="EnkelvoudigInformatieobject"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="amendement">
		<xsd:complexContent>
			<xsd:extension base="Besluitvormingsstuk">
				<xsd:sequence>
					<xsd:element name="toelichting" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="hoortBijVoorstel" type="Voorstel" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="subamendementVan" type="Amendement" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="besluit">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="besluitToelichting" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="toezegging" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="besluitResultaat" type="besluitResultaat" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="indiener">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="naam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="adresBinnenland" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="heeftIngediend" type="Informatieobject" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="isNatuurlijkPersoon" type="NatuurlijkPersoon" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="isOrganisatorischeEenheid" type="organisatorischeEenheid" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="besluitvormingsstuk" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="EnkelvoudigInformatieobject">
				<xsd:sequence>
					<xsd:element name="omschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="datumIngediend" type="xsd:date" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="fractie">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="fractienaam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            		<xsd:element name="bestuurslaag" type="Bestuurslaag" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="fractieNeemtDeelAanStemming" type="StemresultaatPerFractie" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="stemresultaatPerFractie">
		<xsd:all>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="fractieStemresultaat" type="fractieStemResultaat" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="gegevenOpStemming" type="stemming" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="fractielidmaatschap">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="datumBeginFractielidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="datumEindeFractielidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="indicatieVoorzitter" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="fractie" type="Fractie" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="vraag">
		<xsd:complexContent>
			<xsd:extension base="EnkelvoudigInformatieobject">
				<xsd:sequence>
					<xsd:element name="vraagomschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="vraagType" type="vraagType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="stem">
		<xsd:all>
			<xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="keuzeStemming" type="stemKeuze" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="gegevenOpStemming" type="stemming" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="gremium">
		<xsd:all>
			<xsd:element name="gremiumIdentificatie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="gremiumNaam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="gemeente">
		<xsd:sequence>
			<xsd:element name="gemeentecode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="gemeentenaam" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="waterschap">
		<xsd:sequence>
			<xsd:element name="waterschapcode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="waterschapnaam" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<complexType name="bestuurslaag">
		<choice>
			<element name="waterschap" type="waterschap"/>
			<element name="provincie" type="Provincie"/>
			<element name="gemeente" type="gemeente"/>
		</choice>
	</complexType>
	<xsd:simpleType name="vraagType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Technische vraag"/>
			<xsd:enumeration value="Mondelinge politieke vraag"/>
			<xsd:enumeration value="Schriftelijke politieke vraag"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="besluitResultaat">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Unaniem aangenomen"/>
			<xsd:enumeration value="Aangenomen"/>
			<xsd:enumeration value="Geamendeerd aangenomen"/>
			<xsd:enumeration value="Onder voorbehoud aangenomen"/>
			<xsd:enumeration value="Verworpen"/>
			<xsd:enumeration value="Aangehouden"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="motieType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Voorstel"/>
			<xsd:enumeration value="Afkeuring"/>
			<xsd:enumeration value="Treurnis"/>
			<xsd:enumeration value="Wantrouwen"/>
			<xsd:enumeration value="Vreemd"/>
			<xsd:enumeration value="Overig"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="mediabronType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Video"/>
			<xsd:enumeration value="Audio"/>
			<xsd:enumeration value="Transcriptie"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stemKeuze">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Voor"/>
			<xsd:enumeration value="Tegen"/>
			<xsd:enumeration value="Afwezig"/>
			<xsd:enumeration value="Onthouden"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fractieStemResultaat">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Aangenomen"/>
			<xsd:enumeration value="Verworpen"/>
			<xsd:enumeration value="Verdeeld"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stemmingsType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Hoofdelijk"/>
			<xsd:enumeration value="Regulier"/>
			<xsd:enumeration value="Schriftelijk"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stemmingResultaat">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Voor"/>
			<xsd:enumeration value="Tegen"/>
			<xsd:enumeration value="Gelijk"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="besluitvormingsStukkenType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Hamerstukken"/>
			<xsd:enumeration value="Bespreekstukken"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="vergaderingStatus">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Gepland"/>
			<xsd:enumeration value="Gehouden"/>
			<xsd:enumeration value="Geannuleerd"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="vergaderingsType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Raadsvergadering"/>
			<xsd:enumeration value="Commissievergadering"/>
			<xsd:enumeration value="Statenvergadering"/>
			<xsd:enumeration value="Algemene bestuursvergadering"/>
			<xsd:enumeration value="Presidium"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="rolNaam">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Voorzitter"/>
			<xsd:enumeration value="Vice-voorzitter"/>
			<xsd:enumeration value="Raadslid"/>
			<xsd:enumeration value="Statenlid"/>
			<xsd:enumeration value="Dagelijks bestuurslid"/>
			<xsd:enumeration value="Algemeen bestuurslid"/>
			<xsd:enumeration value="Inspreker"/>
			<xsd:enumeration value="Portefeuillehouder"/>
			<xsd:enumeration value="Griffier"/>
			<xsd:enumeration value="Overig"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="functie">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Burgemeester"/>
			<xsd:enumeration value="Wethouder"/>
			<xsd:enumeration value="Raadslid"/>
			<xsd:enumeration value="Burgerlid"/>
			<xsd:enumeration value="Griffier"/>
			<xsd:enumeration value="Gemeentesecretaris"/>
			<xsd:enumeration value="Commissaris van de Koning"/>
			<xsd:enumeration value="Gedeputeerde"/>
			<xsd:enumeration value="Statenlid"/>
			<xsd:enumeration value="Provinciesecretaris"/>
			<xsd:enumeration value="Dijkgraaf"/>
			<xsd:enumeration value="Dagelijks bestuurslid"/>
			<xsd:enumeration value="Algemeen bestuurslid"/>
			<xsd:enumeration value="Secretarisdirecteur"/>
			<xsd:enumeration value="Ambtenaar/Medewerker"/>
			<xsd:enumeration value="Adviseur of Deskundige"/>
			<xsd:enumeration value="Overig"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="geslacht">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Man"/>
			<xsd:enumeration value="Vrouw"/>
			<xsd:enumeration value="Anders"/>
			<xsd:enumeration value="Onbekend"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dagelijksBestuursType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="College"/>
			<xsd:enumeration value="Gedeputeerde Staten"/>
			<xsd:enumeration value="Dagelijks bestuur"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="provincie">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Drenthe"/>
			<xsd:enumeration value="Groningen"/>
			<xsd:enumeration value="Overijssel"/>
			<xsd:enumeration value="Flevoland"/>
			<xsd:enumeration value="Gelderland"/>
			<xsd:enumeration value="Utrecht"/>
			<xsd:enumeration value="Noord-Holland"/>
			<xsd:enumeration value="Zuid-Holland"/>
			<xsd:enumeration value="Zeeland"/>
			<xsd:enumeration value="Noord-Brabant"/>
			<xsd:enumeration value="Limburg"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
