ORI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://vng.nl/projecten/open-raadsinformatie" targetNamespace="https://vng.nl/projecten/open-raadsinformatie" xmlns:ori="https://vng.nl/projecten/open-raadsinformatie" elementFormDefault="qualified" version="v0.0.6">
    <xsd:element name="ORI">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="mediabron" type="mediabronGegevens" minOccurs="1" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>
                            Gegevens over de transcriptie, video-opname, of audio-opname van de vergadering.
                            
                            Verwachte waarde:
                              - `mediabronGegevens`: gegevensgroep met informatie over een mediabron,
                                 zoals het medium waarin de vergadering in is vastgelegd.

                            Relaties:
                              - `hoortBijInformatieobject` (`informatieobjectGegevens`): verwijzing naar
                                 het informatieobject waarin de mediabron is vastgelegd
                              - `heeftOndertitelbestand` (`informatieobjectGegevens`, optioneel): verwijzing naar
                                 het informatieobject waarin het ondertitelbestand van de mediabron is vastgelegd
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="vergadering" type="vergaderingGegevens" minOccurs="1" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>
                            Gegevens over de vergadering. Een vergadering kan uit een of meer deelvergaderingen bestaan.

                            Verwachte waarde:
                              - `vergaderingGegevens`: gegevensgroep met informatie over een vergadering, zoals haar aanvangstdatum en locatie

                            Relaties:
                              - `isVastgelegdMiddels` (`verwijzingGegevens`, optioneel): verwijzing naar de mediabron waarin de (deel)vergadering is vastgelegd
                              - `heeftAlsBijlage` (`informatieobjectGegevens`, optioneel): verwijzing naar een informatieobject dat als bijlage bij de vergadering heeft gefunctioneerd
                              - `isGenotuleerdIn` (`informatieobjectGegevens`, optioneel): verwijzing naar het informatieobject waarin de notulen van de vergadering zijn vastgeleged
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="agendapunt" type="agendapuntGegevens" minOccurs="1" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>
                            Gegevens over een in de vergadering behandeld agendapunt. Een agendapunt kan uit een of meer deelagendapunten bestaan.

                            Verwachte waarde:
                              - `agendapuntGegevens`: gegevensgroep met informatie over een agendapunt, zoals haar beslotenheid en aanvangst binnen de vergadering

                             Relaties:
                               - `wordtBehandeldTijdens` (`verwijzingGegevens`): verwijzing naar de (deel)vergadering waarin dit agendapunt behandeld werd
                               - `heeftBehandelendAmbtenaar` (`verwijzingGegevens`, optioneel): verwijzing naar een `natuurlijkPersoon` element die de behandelend ambtenaar van dit agendapunt representeert
                               - `heeftAlsBijlage` (`verwijzingGegevens`, optioneel): verwijzing naar een informatieobject dat als bijlage bij het agendapunt vergadering heeft gefunctioneerd
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="stemming" type="stemmingGegevens" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>
                            Gegevens over een stemming. Een stemming heeft altijd betrekking op een bepaald agendapunt, maar het is daarnaast ook mogelijk om over een persoon te stemmen, zoals bij een benoeming van een raadslid.

                            Verwachte waarde:
                              - `stemmingGegevens`: gegevensgroep met informatie over de stemming, zoals het besluit wat na de stemming volgde en het agendapunt waarover gestemd werdt

                            Relaties:
                              - `heeftBetrekkingOpAgendapunt` (`verwijzingGegevens`): verwijzing naar agendapunt waarover gestemt wordt
                              - `leidtTotBesluit` (`besluitGegevens`, optioneel): gegevensgroep met informatie over het besluit waartoe de steming heeft geleidt
                              - `stemmingOverPersonen` (`stemmingOverPersonenGegevens`, optioneel): gegevensgroep met informatie over de persoon waarover gestemd is
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="natuurlijkPersoon" type="natuurlijkPersoonGegevens" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>
                            Gegevens met contextuele informatie over een persoon.

                            Verwachte waarde:
                              - `natuurlijkPersoonGegevens`: gegevensgroep met informatie over een persoon, zoals haar volledige naam en de fractie waar zij lid van was

                            Relaties:
                              - `naam` (`naamGegevens`): gegevensgroep met informatie over de naam van de persoon, zoals haar voor- en achternaam
                              - `nevenfunctie` (`nevenfunctieGegevens`, optioneel): gegevensgroep met informatie over de nevenwerkzaamheden van de persoon
                              - `isLidVanFractie` (`fractielidmaatschapGegevens`, optioneel): gegevensgroep met informatie over wanneer de persoon lid werd van welke fractie
                              - `isLidVanDagelijksBestuur` (`dagelijksBestuurLidmaatschapGegevens`, optioneel): gegevensgroep met informatie over wanneer de persoon lid werd van welk dagelijks bestuur
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="aanwezigeDeelnemer" type="aanwezigeDeelnemerGegevens" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>
                            Gegevens over een persoon die daadwerlijk bij de vergadering aanwezig was.

                            Verwachte waarde:
                              - `aanwezigeDeelnemerGegevens`: gegevensgroep met informatie over een deelnemer, zoals haar inspreek momenten en de rol waarin zij aanwezig was

                            Relaties:
                              - `isNatuurlijkPersoon` (`verwijzingGegevens`): verwijzing naar een `natuurlijkPersoon` element met contextuele informatie over de deelnemer
                              - `neemtDeelAanVergadering` (`verwijzingGegevens`, optioneel): verwijzing naar de (deel)vergadering waarbij de deelnemer aanwezig was
                              - `neemtDeelAanStemming` (`stemGegevens`, optioneel): gegevensgroep met informatie over wat deelnemer heeft gestemd tijdens een stemming
                              - `spreektTijdensSpreekfragment` (`spreekfragmentGegevens`, optioneel): gegevensgroep met informatie over een spreekfragment
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <!-- Specificeer dat alle IDs in de XML boom uniek moeten zijn -->
        <xsd:unique name="uniqueID">
            <xsd:selector xpath=".//ori:ID"/>
            <xsd:field xpath="."/>
        </xsd:unique>
    </xsd:element>

    <!-- # Algemene datatypes -->

    <xsd:complexType name="verwijzingGegevens">
        <xsd:annotation>
            <xsd:documentation>Gegevens om vanuit een object naar een ander te verwijzen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="verwijzingID" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Het ID van het object waarnaar verwezen wordt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="verwijzingNaam" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een voor menselijke lezers bedoelde naam van het object waarnaar verwezen wordt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="informatieobjectGegevens">
        <xsd:sequence>
            <xsd:element name="verwijzingInformatieobject" type="verwijzingGegevens" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar een elders gedefinieerd informatieobject.

                        Verwachte waarde:
                          - `verwijzingGegevens`: gegevensgroep met daarin een uniek identificatiekenmerk en eventuele naam van het `informatieobject` waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="informatieobjectType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het soort informatieobject waarnaar verwezen wordt.

                        Verwachte waarde:
                          - Keuze uit: `Voorstel`, `Motie`, `Amendement`, `Besluitsvormingsstuk`, `Toezegging`, `Mededeling`, `Vraag`, `Antwoord`, `Ingekomen stuk`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Voorstel"/>
                        <xsd:enumeration value="Motie"/>
                        <xsd:enumeration value="Amendement"/>
                        <xsd:enumeration value="Besluitsvormingsstuk"/>
                        <xsd:enumeration value="Toezegging"/>
                        <xsd:enumeration value="Mededeling"/>
                        <xsd:enumeration value="Vraag"/>
                        <xsd:enumeration value="Antwoord"/>
                        <xsd:enumeration value="Ingekomen stuk"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="informatieobjectAanvullendeGegevens" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Gegevens die een bepaald type informatieobject nader beschrijven. Alleen relevant wanneer deze gegevens niet reeds in MDTO of ToPX zijn opgenomen.

                        Verwachte waarde:
                          - Keuze uit: `voorstelGegevens`, `motieGegevens`, `amendementGegevens`, `besluitvormingsstukGegevens`, `vraagGegevens`, `antwoordGegevens`, `toezeggingGegevens`, `mededelingGegevens`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="voorstel" type="voorstelGegevens" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="motie" type="motieGegevens" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="amendement" type="amendementGegevens" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="besluitsvormingsstuk" type="besluitvormingsstukGegevens" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="vraag" type="vraagGegevens" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="antwoord" type="antwoordGegevens" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="toezegging" type="toezeggingGegevens" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="mededeling" type="mededelingGegevens" minOccurs="1" maxOccurs="1"/>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- # ORI-gerelateerde datatypes -->

    <xsd:complexType name="mediabronGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het ID van de mediabron.

                        Verwachte waarde:
                          - `string`: uniek identificatiekenmerk, bijvoorbeeld `mediabron-808a882a88822` of `123e4567-e89b`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het MIME type van het mediabron bestand.

                        Verwachte waarde:
                          - string: Patroon `type/subtype`, bijvoorbeeld `video/mp4`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="\w+/[-+.\w]+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="mediabronType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het soort mediabron.

                        Verwachte waarde:
                          - Keuze uit: `Video`, `Audio`, `Transcriptie`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Video"/>
                        <xsd:enumeration value="Audio"/>
                        <xsd:enumeration value="Transcriptie"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="URL" type="xsd:anyURI" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar het webadres waar de mediabron raadpleegbaar is.

                        Verwachte waarde:
                          - `URL`: URL conform RFC 3986, bijvoorbeeld `https://www.raadsvergadering.nl/01/2017/Gemeente Oosterhout.mp4`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hoortBijInformatieobject" type="informatieobjectGegevens" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Gegevens over het informatieobject waarin de mediabron is vastgelegd.

                        Verwachte waarde:
                          - `informatieobjectGegevens`: gegevensgroep met een verwijzing naar een in MDTO
                            of TopX opgesteld informatieobject, alsmede een optionele indicatie
                            van het type informatieobject
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftOndertitelbestand" type="informatieobjectGegevens" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Gegevens over het informatieobject waarin het ondertitelbestand van de mediabron is vastgelegd.

                        Verwachte waarde:
                          - `informatieobjectGegevens`: gegevensgroep met een verwijzing naar een in MDTO
                             of TopX opgesteld informatieobject dat het ondertitelbestand verder beschrijft
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="vergaderingGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Uniek identificatie kenmerk van de vergadering.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="naam" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De naam van de vergadering.

                        Verwachte waarde:
                          - `string`: een naam, bijvoorbeeld 'Gemeenteraad Oosterhout 2023-11-09' 
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vergaderToelichting" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Toelichting of nadere omschrijving van de vergadering.

                        Verwachte waarde:
                          - `string`: omschrijving, zoals 'Spoedvergadering over het kappen van de wilgen op de Soesterbergsestraat'
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="georganiseerdDoorGremium" type="gremiumGegevens" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het gremium dat de vergadering georganiseerd heeft.

                        Verwachte waarde:
                           - `gremiumIdentificatie` (string): ID van het gremium
                           - `gremiumNaam` (string): De naam van het gremium
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vergaderingsType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het soort vergadering.

                        Verwachte waarde:
                          - Keuze uit: `Raadsvergadering`, `Commissievergadering`, `Statenvergadering`, `Algemene bestuursvergadering`, `Presidium`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Raadsvergadering"/>
                        <xsd:enumeration value="Commissievergadering"/>
                        <xsd:enumeration value="Statenvergadering"/>
                        <xsd:enumeration value="Algemene bestuursvergadering"/>
                        <xsd:enumeration value="Presidium"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="locatie" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Locatie (bijv. gebouw of stad) waar de vergadering gehouden is.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="status" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De status van de vergadering.

                        Verwachte waarde:
                          - Keuze uit: `Gepland`, `Gehouden`, `Geannuleerd`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Gepland"/>
                        <xsd:enumeration value="Gehouden"/>
                        <xsd:enumeration value="Geannuleerd"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="geplandeVergaderdatum" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De geplande datum van de vergadering.

                        Verwachte waarde:
                          - `datum`: datum in `JJJJ-MM-DD` formaat
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vergaderdatum" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De datum waarop de vergadering daadwerkelijk gehouden werdt.

                        Verwachte waarde:
                          - `datum`: datum in `JJJJ-MM-DD` formaat
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="geplandeAanvangVergadering" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De oorspronkelijk geplande aanvang van de vergadering.

                        Verwachte waarde:
                          - `datum` + `tijd`: datum en tijd in `JJJJ-MM-DDTuu:mm:ss` formaat, bijvoorbeeld `2014-05-25T16:30:00`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="geplandeEindeVergadering" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het oorspronkelijk geplande einde van de vergadering.

                        Verwachte waarde:
                          - `datum` + `tijd`: datum en tijd in `JJJJ-MM-DDTuu:mm:ss` formaat, bijvoorbeeld `2014-05-25T16:30:00`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aanvangVergadering" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het daadwerkelijke datum en tijdstip waarop de vergadering begon.

                        Verwachte waarde:
                          - `datum` + `tijd`: datum en tijd in `JJJJ-MM-DDTuu:mm:ss` formaat, bijvoorbeeld `2014-05-25T16:30:00`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="eindeVergadering" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het daadwerkelijke datum en tijdstip waarop de vergadering eindigde.

                        Verwachte waarde:
                          - `datum` + `tijd`: datum en tijd in `JJJJ-MM-DDTuu:mm:ss` formaat, bijvoorbeeld `2014-05-25T16:30:00`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="publicatiedatum" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Datum en tijdstip waarop de vergadering voor het laatst gepubliceerd of gewijzigd is.

                        Verwachte waarde:
                          - `datum` + `tijd`: datum en tijd in `JJJJ-MM-DDTuu:mm:ss` formaat, bijvoorbeeld `2014-05-25T16:30:00`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bestuurslaag" type="bestuurslaagGegevens" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De bestuurslaag die de vergadering heeft gehouden. Dit kan een gemeente, provincie, of waterschap zijn.

                        Verwachte waarde:
                                 
                          - Keuze uit:
                            - gemeente (`gemeenteGegevens`)
                            - provincie (`provincieGegevens)
                            - waterschap (`waterschapGegevens`)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isVastgelegdMiddels" type="verwijzingGegevens" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de mediabron waarin de (deel)vergadering is vastgelegd.

                        <!-- TODO: misschien beter om hier toch VerwijzingGegeves neer te zetten? -->
                        Verwachte waarde:
                          - `verwijzingGegevens`: gegevensgroep met daarin een uniek identificatiekenmerk en eventuele naam van de `mediabron` waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isGenotuleerdIn" type="informatieobjectGegevens" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de notulen van de vergadering.

                        Verwachte waarde:
                          - `verwijzingGegevens`: gegevensgroep met daarin een uniek identificatiekenmerk en eventuele naam van het `informatieobject` waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftAlsBijlage" type="informatieobjectGegevens" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar een bijlage van de vergadering.

                        Verwachte waarde:
                          - `verwijzingGegevens`: gegevensgroep met daarin een uniek identificatiekenmerk en eventuele naam van het `informatieobject` waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftAlsDeelvergadering" type="vergaderingGegevens" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Een vergadering die als afzonderlijk onderdeel functioneert binnen een grotere vergadering.

                        Verwachte waarde:
                          - `vergaderGegevens`: gegevens die de deelvergadering beschrijven
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="agendapuntGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een uniek identificatiekenmerk.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="agendapuntOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="geplandAgendapuntVolgnummer" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het geplande agendapunt volgnummer.

                        Verwachte waarde:
                          - string: een of meer cijfers, eventueel gevolgd door een reeks letters. Bijvoorbeeld `10` of `13b`.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="\d+\w*"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="agendapuntVolgnummer" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het agendapunt volgnummer.

                        Verwachte waarde:
                          - string: een of meer cijfers, eventueel gevolgd door een reeks letters. Bijvoorbeeld `10` of `13b`.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="\d+\w*"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="geplandeStarttijd" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het oorspronkelijk geplande datum en tijdstip waarop het agendapunt in behandeling zou werden genomen.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="geplandeEindtijd" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het oorspronkelijk geplande datum en tijdstip waarop het agendapunt zou worden afgerond.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="starttijd" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Datum en tijdstip waarop het agendapunt daadwerkelijk in behandeling werd genomen.
                    </xsd:documentation>n
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="eindtijd" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Datum en tijdstip waarop het agendapunt agendapunt daadwerkelijk werd afgesloten.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="agendapuntKenmerk" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De weergave van het agendapuntvolgnummer op de agenda.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="agendapuntTitel" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Titel of onderwerp van het agendapunt.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indicatieHamerstuk" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Geeft aan of het agendapunt een hamerstuk was.

                        Verwachte waarde:
                          - `boolean`: `true` of `1` als het agendapunt een hamerstuk was; `false` of `0` als het agendapunt geen hamerstuk was
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indicatorBehandeld" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Geeft aan of het agendapunt is behandeld tijdens de vergadering.

                        Verwachte waarde:
                          - `boolean`: `true` of `1` als het agendapunt in behandeling is genomen; `false` of `0` als het agendapunt niet in behandeling is genomen
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indicatorBesloten" type="xsd:boolean" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Geeft aan of het agendapunt besloten werdt behandeld.

                        Verwachte waarde:
                          - `boolean`: `true` of `1` als het agendapunt besloten werdt behandeld; `false` of `0` als het agendapunt niet besloten werd behandeld
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bestuurslaag" type="bestuurslaagGegevens" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De bestuurslaag die het agendapunt heeft behandeld. Dit kan een gemeente, provincie, of waterschap zijn.

                        Verwachte waarde:
                          - Keuze uit: `gemeenteGegevens`, `provincieGegevens`, of `waterschapGegevens`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="wordtBehandeldTijdens" type="verwijzingGegevens" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de vergadering waarin het agendapunt behandeld wordt.

                        Verwachte waarde:
                          - `verwijzingGegevens`: gegevensgroep met daarin een uniek identificatiekenmerk en eventuele naam van de `vergadering` waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftBehandelendAmbtenaar" type="verwijzingGegevens" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de ambtenaar die het agendapunt behandeld.

                        Verwachte waarde:
                          - `verwijzingGegevens`: gegevensgroep met daarin een uniek identificatiekenmerk en eventuele naam van de `natuurlijkPersoon` waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftAlsBijlage" type="informatieobjectGegevens" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar een bijlage van het agendapunt.

                        Verwachte waarde:
                          - `informatieobjectGegevens`: gegevensgroep met een verwijzing naar een in MDTO
                            of TopX opgesteld informatieobject, alsmede een optionele indicatie
                            van het type informatieobject
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftAlsSubagendapunt" type="agendapuntGegevens" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="spreekfragmentGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een uniek identificatiekenmerk.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aanvangSpreekfragment" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Datum en tijdstip waarop het spreekfragment begon.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="eindeSpreekfragment" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                       Datum en tijdstip waarop het spreekfragment eindigde.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="taal" type="xsd:language" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De taal van het spreekfragment.

                        Verwachte waarde:
                          - `taal`: identificatiekenmerk van een taal conform RFC 3066, zoals `nl` voor Nederlands
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tekstSpreekfragment" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De uitgeschreven tekst van het spreekfragment.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="titelSpreekfragment" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Een titel voor het spreekfragment of benaming van de discussie waar het spreekfragment ondervalt.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="positieNotulen" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De positie van het spreekfragment binnen de notulen.

                        TODO: vragen naar een voorbeeld waarde?
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="audioTijdsaanduidingAanvang" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Tijdsaanduiding van de aanvang van het spreekfragment in de audio opname in seconden.

                        Verwachte waarde:
                          - `integer`: getal tussen 0 en oneindig dat aangeeft na hoeveel seconde in de opname het spreekfragment begint
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="audioTijdsaanduidingEinde" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Tijdsaanduiding van het einde van het spreekfragment in de audio opname in seconden.

                        Verwachte waarde:
                          - `integer`: getal tussen 0 en oneindig dat aangeeft na hoeveel seconde in de opname het spreekfragment eindigt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="videoTijdsaanduidingAanvang" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De tijdsaanduiding van de aanvang van het spreekfragment in de video opname in seconden.

                        Verwachte waarde:
                          - `integer`: getal tussen 0 en oneindig dat aangeeft na hoeveel seconde in de opname het spreekfragment begint
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="videoTijdsaanduidingEinde" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De tijdsaanduiding van de aanvang van het spreekfragment in de video opname in seconden.

                        Verwachte waarde:
                          - `integer`: getal tussen 0 en oneindig dat aangeeft na hoeveel seconde in de opname het spreekfragment eindigt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isVastgelegdIn" type="verwijzingGegevens" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de mediabron waarin het spreekfragment is vastgelegd.

                        Verwachte waarde:
                          - `verwijzingGegevens`: gegevensgroep met daarin een uniek identificatiekenmerk en eventuele naam van de `mediabron` waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="spreektTijdensAgendapunt" type="verwijzingGegevens" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar het agendapunt waar tijdens gesproken wordt.

                        Verwachte waarde:
                          - `verwijzingGegevens`: gegevensgroep met daarin een uniek identificatiekenmerk en eventuele naam van het `agendapunt` waarnaar verwezen wordt
                      </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="stemmingGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een uniek identificatiekenmerk.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stemmingType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De wijze waarop gestemd is.

                        Verwachte waarde:
                        - Keuze uit: `Hoofdelijk`, `Regulier`, `Schriftelijk`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Hoofdelijk"/>
                        <xsd:enumeration value="Regulier"/>
                        <xsd:enumeration value="Schriftelijk"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="resultaatMondelingeStemming" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Resultaat van de mondelinge stemming.

                        Verwachte waarde:
                          - Keuze uit: `Voor`, `Tegen`, `Gelijk`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Voor"/>
                        <xsd:enumeration value="Tegen"/>
                        <xsd:enumeration value="Gelijk"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="resultaatStemmingOverPersonen" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        TODO: zie https://github.com/VNG-Realisatie/ODS-Open-Raadsinformatie/issues/111
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stemmingOverPersonen " type="stemmingOverPersonenGegevens" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <!-- let op dat deze documentatie misschien moet worden aangepast na https://github.com/VNG-Realisatie/ODS-Open-Raadsinformatie/issues/111 -->
                        Gegevens die het het resultaat van een stemming over personen beschrijven.

                        Verwachte waarde:
                          - `stemmingOverPersonenGegevens`: gegevensgroep met informatie over de persoon waarover gestemd is, zoals haar naam en aantal gehaalde stemmen
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="leidtTotBesluit" type="besluitGegevens" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het besluit waartoe de stemming geleidt heeft.

                        Verwachte waarde:
                          - `besluitGegevens`: gegevensgroep met informatie over het besluit, zoals een indicatie of het om een verworpen besluit gaat
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftBetrekkingOpAgendapunt" type="verwijzingGegevens" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar agendapunt waarover gestemt wordt.

                        Verwachte waarde:
                          - `verwijzingGegevens`: gegevensgroep met daarin een uniek identificatiekenmerk en eventuele naam van het `agendapunt` waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftBetrekkingOpBesluitvormingsstuk" type="informatieobjectGegevens" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Gegevens omtrent het besluitvormingsstuk waarover gestemd wordt.

                        Verwachte waarde:
                          - `verwijzingInformatieobject` (verwijzingGegevens): Verwijzing naar een elders gedefinieerd informatieobject
                          - `informatieobjectType` (string, optioneel): Het soort besluitsvormingsstuk. Keuze uit `motie`, `voorstel`, `amendement`, of `besluitsvormingsstuk`
                          - `informatieobjectAanvullendeGegevens` (motieGegevens|voorstelGegevens|amendementGegevens|besluitvormingsstukGegevens, optioneel): Gegevens die het informatieobject nader beschrijven
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="stemmingOverPersonenGegevens">
        <xsd:sequence>
            <xsd:element name="naamKandidaat" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De naam van de kandidaat waarover gestemd is.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aantalUitgebrachteStemmen" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het aantal stemmen dat de kandidaat gehaald heeft.

                        Verwachte waarde:
                          - `integer`: getal tussen 0 en oneindig
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="besluitGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een uniek identificatiekenmerk</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="besluitToelichting" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Een toelichting op het besluit.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="toezegging" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Een toezegging die bij het besluit gedaan gemaakt is.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="besluitResultaat" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het resultaat van het besluit.

                        Verwachte waarde:
                        - Keuze uit: `Unaniem aangenomen`, `Aangenomen`, `Geamendeerd aangenomen`, `Onder voorbehoud aangenomen`, `Verworpen`, `Aangehouden`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Unaniem aangenomen"/>
                        <xsd:enumeration value="Aangenomen"/>
                        <xsd:enumeration value="Geamendeerd aangenomen"/>
                        <xsd:enumeration value="Onder voorbehoud aangenomen"/>
                        <xsd:enumeration value="Verworpen"/>
                        <xsd:enumeration value="Aangehouden"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="dagelijksBestuurGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een uniek identificatiekenmerk.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dagelijksBestuursnaam" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Naam van het dagelijks bestuur.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dagelijksBestuursType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het soort dagelijks bestuur.

                        Verwachte waarde:
                          - Keuze uit: `College`, `Gedeputeerde Staten`, `Dagelijks bestuur`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="College"/>
                        <xsd:enumeration value="Gedeputeerde Staten"/>
                        <xsd:enumeration value="Dagelijks bestuur"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="bestuurslaag" type="bestuurslaagGegevens" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De bestuurslaag die verantwoordelijk is voor de taken van het dagelijks bestuur, zoals beleidsuitvoering. Dit kan een gemeente, provincie, of waterschap zijn.

                        Verwachte waarde:
                          - Keuze uit: `gemeenteGegevens`, `provincieGegevens`, of `waterschapGegevens`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="dagelijksBestuurLidmaatschapGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een uniek identificatiekenmerk</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumBeginDagelijkseBestuurLidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Datum waarop iemand's lidmaatschap van het dagelijkse bestuur begon.

                        Verwachte waarde:
                          - `datum`: datum in `JJJJ-MM-DD` formaat
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumEindeDagelijkseBestuurLidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Datum waarop iemand's lidmaatschap van het dagelijkse bestuur eindigde.

                        Verwachte waarde:
                          - `datum`: datum in `JJJJ-MM-DD` formaat
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dagelijksBestuur" type="dagelijksBestuurGegevens" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het dagelijks bestuur waar het lidmaatschap betrekking op heeft.

                        Verwachte waarde:
                          - `dagelijksBestuurGegevens`: gegevensgroep met informatie over het dagelijks bestuur, zoals de bestuurslaag waarop het bestuur zich bevindt.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="natuurlijkPersoonGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een uniek identificatiekenmerk van de persoon, niet zijnde het burgerserivcenummer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="geslachtsaanduiding" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het geslacht van de persoon.

                        Verwachte waarde:
                          - Keuze uit: `Man`, `Vrouw`, `Anders`, `Onbekend`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Man"/>
                        <xsd:enumeration value="Vrouw"/>
                        <xsd:enumeration value="Anders"/>
                        <xsd:enumeration value="Onbekend"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="functie" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De functie van de persoon.

                        Verwachte waarde:
                          - Keuze uit: `Burgemeester`, `Wethouder`, `Raadslid`, `Burgerlid`, `Griffier`, `Gemeentesecretaris`, `Commissaris van de Koning`, `Gedeputeerde`, `Statenlid`, `Provinciesecretaris`, `Dijkgraaf`, `Dagelijks bestuurslid`, `Algemeen bestuurslid`, `Secretarisdirecteur`, `Ambtenaar/medewerker`, `Adviseur of deskundige`, `Overig`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Burgemeester"/>
                        <xsd:enumeration value="Wethouder"/>
                        <xsd:enumeration value="Raadslid"/>
                        <xsd:enumeration value="Burgerlid"/>
                        <xsd:enumeration value="Griffier"/>
                        <xsd:enumeration value="Gemeentesecretaris"/>
                        <xsd:enumeration value="Commissaris van de Koning"/>
                        <xsd:enumeration value="Gedeputeerde"/>
                        <xsd:enumeration value="Statenlid"/>
                        <xsd:enumeration value="Provinciesecretaris"/>
                        <xsd:enumeration value="Dijkgraaf"/>
                        <xsd:enumeration value="Dagelijks bestuurslid"/>
                        <xsd:enumeration value="Algemeen bestuurslid"/>
                        <xsd:enumeration value="Secretarisdirecteur"/>
                        <xsd:enumeration value="Ambtenaar/medewerker"/>
                        <xsd:enumeration value="Adviseur of deskundige"/>
                        <xsd:enumeration value="Overig"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="naam" type="naamGegevens" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Gegevens over de naam van de persoon.

                        Verwachte waarde:
                          - `naamGegevens`: gegevensgroep met informatie over de naam van de persoon, zoals haar voor- en achternaam, en eventuele tussenvoegsels.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nevenfunctie" type="nevenfunctieGegevens" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Eventuele nevenfuncties van de persoon.

                        Verwachte waarde:
                          - `nevenfunctieGegevens`: gegevensgroep met informatie over de nevenfunctie van persoon, zoals of de functie wel of niet betaald is
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isLidVanFractie" type="fractielidmaatschapGegevens" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Gegevens over sinds wanneer de persoon lid is van welke fractie.

                        Verwachte waarde:
                          - `datumBeginFractielidmaatschap` (`datum`, optioneel): de begindatum van iemand's lidmaatschap
                          - `datumEindeFractielidmaatschap` (`datum`, optioneel): de einddatum van iemand's lidmaatschap
                          - `indicatieVoorzitter` (`boolean`): of de persoon de rol van fractievoorzitter bekleed
                          - `fractie` (`fractieGegevens`): gegevensgroep met informatie over de fractie waar iemand lid van is, zoals de fractienaam
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isLidVanDagelijksBestuur" type="dagelijksBestuurLidmaatschapGegevens" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Gegevens over sinds wanneer de persoon lid is van welk dagelijks bestuur.

                        Verwachte waarde:
                          - `dagelijksBestuurLidmaatschap`: gegevensgroep met informatie over iemand's dagelijks bestuur lidmaatschap, zoals de datum waarop zij lid werd
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="naamGegevens">
        <xsd:sequence>
            <xsd:element name="achternaam" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De achternaam de van de persoon.

                        Verwachte waarde:
                          - `string`: een achternaam, zoals 'Mierlo'
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tussenvoegsel" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Eventueel tussenvoegsel in naam van de persoon.

                        Verwachte waarde:
                          - `string`: een tussenvoegsel, zoals 'van der'
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="voorletters" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De voorletters van de persoon.

                        Verwachte waarde:
                          - `string`: een of meerdere voorletters, zoals 'J.P.' of 'K.'
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="voornamen" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De voornaam of voornamen van de persoon.

                        Verwachte waarde:
                          - `string`: voornaam of voornamen, zoals 'Anna Maria Sophia' of 'Jan'
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="volledigeNaam" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De volledige naam van de persoon.

                        Verwachte waarde:
                          - `string`: een volledige naam, zoals 'Piet van der Berg'
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="nevenfunctieGegevens">
        <xsd:sequence>
            <xsd:element name="omschrijvingNevenfunctie" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Een omschrijving van de nevenfunctie van een persoon.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="naamOrganisatieNevenfunctie" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De naam van de organisatie van de nevenfunctie.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aantalUrenperMaand" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het aantal uren dat per maand besteed wordt aan de nevenfunctie.

                        Verwachte waarde:
                          - `integer`: getal dat het aantal uren aangeeft
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indicatorBezoldigd" type="xsd:boolean" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Geeft aan of de nevenfunctie uitgevoerd wordt tegen betaling.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indicatorNevenfunctieVanwegeLidmaatschap" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Geeft aan of de nevenfunctie wordt vervuld vanwege de lidmaatschap van de Raad of de Staten.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumMelding" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De datum waarop de nevenfunctie gemeld is bij de griffie.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumAanvangNevenfunctie" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De datum van aanvang van de nevenfunctie.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumEindeNevenfunctie" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De datum van het einde van de nevenfunctie.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="fractieGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een uniek identificatiekenmerk</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fractienaam" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De naam van de fractie.

                        Verwachte waarde:
                         - `string`: fractienaam, zoals 'D66' of 'VVD'
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bestuurslaag" type="bestuurslaagGegevens" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De bestuurslaag waarop de fractie functioneert. Dit kan een gemeente, provincie, of waterschap zijn.

                        Verwachte waarde:
                          - Keuze uit: `gemeenteGegevens`, `provincieGegevens`, of `waterschapGegevens`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fractieNeemtDeelAanStemming" type="stemresultaatPerFractieGegevens" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Gegevens over een stemming waaran de fractie als geheel aan mee heeft gedaan.

                        Verwachte waarde:
                          - `stemresultaatPerFractieGegevens`: gegevensgroep met informatie over de keuze van een fractie over een stemming
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="fractielidmaatschapGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een uniek identificatiekenmerk</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumBeginFractielidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Datum waarop iemand's fractielidmaatschap begon.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumEindeFractielidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Datum waarop iemand's fractielidmaatschap eindigde.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indicatieVoorzitter" type="xsd:boolean" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Geeft aan of iemand de voorzitter is van de fractie.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fractie" type="fractieGegevens" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Gegevens over de fractie waar het lidmaatschap betrekking op heeft.

                        Verwachte waarde:
                          - `fractieGegevens`: gegevensgroep met informatie over de fractie waar iemand lid van is, zoals de fractienaam
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="stemresultaatPerFractieGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een uniek identificatiekenmerk.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fractieStemresultaat" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Keuze van de gehele fractie over een stemming.

                        Verwachte waarde:
                          - Keuze uit: `Aangenomen`, `Verworpen`, `Verdeeld`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Aangenomen"/>
                        <xsd:enumeration value="Verworpen"/>
                        <xsd:enumeration value="Verdeeld"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="gegevenOpStemming" type="verwijzingGegevens" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de stemming waar de fractie over gestemd heeft.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van de `stemming` waarnaar verwezen wordt
                          - `verwijzingNaam` (string, optioneel): Naam van de beslissing waarover gestemd wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="aanwezigeDeelnemerGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een uniek identificatiekenmerk</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rolnaam" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De rol waarin iemand bij de vergadering aanwezig was.

                        Verwachte waarde:
                          - Keuze uit: `Voorzitter`, `Vice-voorzitter`, `Raadslid`, `Statenlid`, `Dagelijks bestuurslid`, `Algemeen bestuurslid`, `Inspreker`, `Portefeuillehouder`, `Griffier`, `Overig`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Voorzitter"/>
                        <xsd:enumeration value="Vice-voorzitter"/>
                        <xsd:enumeration value="Raadslid"/>
                        <xsd:enumeration value="Statenlid"/>
                        <xsd:enumeration value="Dagelijks bestuurslid"/>
                        <xsd:enumeration value="Algemeen bestuurslid"/>
                        <xsd:enumeration value="Inspreker"/>
                        <xsd:enumeration value="Portefeuillehouder"/>
                        <xsd:enumeration value="Griffier"/>
                        <xsd:enumeration value="Overig"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="organisatie" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De naam van de organisatie die wordt vertegenwoordigd door de aanwezige deelnemer. 
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="deelnemerspositie" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De plek waar een deelnemer in de zaal zat.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aanvangAanwezigheid" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Datum en tijdstip vanaf wanneer de deelnemer bij de vergadering aanwezig was.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="eindeAanwezigheid" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Datum en tijdstip waarna de deelnemer de vergadering verliet.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isNatuurlijkPersoon" type="verwijzingGegevens" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar een `natuurlijkPersoon` element met contextuele informatie over de deelnemer.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van de `natuurlijkPersoon` waarnaar verwezen wordt
                          - `verwijzingNaam` (string, optioneel): Naam van de persoon waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="neemtDeelAanVergadering" type="verwijzingGegevens" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de (deel)vergadering waar de deelnemer aanwezig was.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van de `vergadering` waarnaar verwezen wordt
                          - `verwijzingNaam` (string, optioneel): Naam van de `vergadering` waarnaar verwezen wordt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="neemtDeelAanStemming" type="stemGegevens" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Gegevens over de stem die de deelnemer heeft uitbracht.

                        Verwachte waarde:
                          - `stemGegevens`: gegevensgroep met informatie over een uitgebrachte stem, zoals of de stem voor of tegen was, en op welke stemming deze gegeven is
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="spreektTijdensSpreekfragment" type="spreekfragmentGegevens" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Gegevens over een spreekfragment waar tijdens de deelnemer spreekt.

                        Verwachte waarde:
                          - `spreekfragmentGegevens`: gegevensgroep met informatie over een spreekfragment, zoals wanneer dit fragment in de vergadering aanvangt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="stemGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een uniek identificatiekenmerk.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="keuzeStemming" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De uitgebrachte keuze op de stemming.

                        Verwachte waarde:
                          - Keuze uit: `Voor`, `Tegen`, `Afwezig`, `Onthouden`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Voor"/>
                        <xsd:enumeration value="Tegen"/>
                        <xsd:enumeration value="Afwezig"/>
                        <xsd:enumeration value="Onthouden"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="gegevenOpStemming" type="verwijzingGegevens" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de stemming waar de deelnemer over gestemd heeft.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van de `stemming` waarnaar verwezen wordt
                          - `verwijzingNaam` (string, optioneel): Naam van beslissing waarover gestemd werdt
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="besluitvormingsstukGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een uniek identificatiekenmerk</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="omschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="datumIngediend" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="isMedeOndertekendDoor" type="verwijzingGegevens" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar een persoon die het stuk heeft ondertekend.

                        Verwachte waarde:
                          - `verwijzingID` (string): Uniek identificatiekenmerk van de `natuurlijkPersoon` waarnaar verwezen wordt
                          - `verwijzingNaam` (string, optioneel): Naam van de persoon die het stuk heeft ondertekend
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="motieGegevens">
        <xsd:complexContent>
            <xsd:extension base="besluitvormingsstukGegevens">
                <xsd:sequence>
                    <xsd:element name="motieType" minOccurs="0" maxOccurs="1">
                        <xsd:simpleType>
                            <xsd:annotation>
                                <xsd:documentation>
                                    Het soort motie.

                                    Verwachte waarde:
                                      - Keuze uit: `Voorstel`, `Afkeuring`, `Treurnis`, `Wantrouwen`, `Vreemd`, `Overig`
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Voorstel"/>
                                <xsd:enumeration value="Afkeuring"/>
                                <xsd:enumeration value="Treurnis"/>
                                <xsd:enumeration value="Wantrouwen"/>
                                <xsd:enumeration value="Vreemd"/>
                                <xsd:enumeration value="Overig"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="amendementGegevens">
        <xsd:complexContent>
            <xsd:extension base="besluitvormingsstukGegevens">
                <xsd:sequence>
                    <xsd:element name="toelichting" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="hoortBijVoorstel" type="voorstelGegevens" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                Verwijzing naar het voorstel waar dit een amendement op is.

                                Verwachte waarde:
                                  - `verwijzingID` (string): Uniek identificatiekenmerk van een elders gedefinieerd informatieobject
                                  - `verwijzingNaam` (string, optioneel): Naam van het informatieobject waarnaar verwezen wordt
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="heeftAlsSubamendement" type="amendementGegevens" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="voorstelGegevens">
        <xsd:complexContent>
            <xsd:extension base="besluitvormingsstukGegevens">
                <xsd:sequence>
                    <xsd:element name="portefeuillehouder" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="isIngediendDoor" type="verwijzingGegevens" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                Verwijzing naar het dagelijks bestuur dat het besluitsvormingsstuk heeft ingedient.

                                Verwachte waarde:
                                  - `verwijzingID` (string): Uniek identificatiekenmerk van het `dagelijksBestuur` waarnaar verwezen wordt
                                  - `verwijzingNaam` (string, optioneel): Naam van het bestuur waarnaar verwezen wordt
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="toezeggingGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een uniek identificatiekenmerk</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="toezeggingsOmschrijving" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="mededelingGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een uniek identificatiekenmerk</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mededelingOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="vraagGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een uniek identificatiekenmerk</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vraagOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="vraagType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Het soort vraag.

                        Verwachte waarde:
                          - Keuze uit: `Technische vraag`, `Mondelinge politieke vraag`, `Schriftelijke politieke vraag`
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Technische vraag"/>
                        <xsd:enumeration value="Mondelinge politieke vraag"/>
                        <xsd:enumeration value="Schriftelijke politieke vraag"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="antwoordGegevens">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Een uniek identificatiekenmerk</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="antwoordOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="hoortBijVraag" type="vraagGegevens" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="gremiumGegevens">
        <xsd:sequence>
            <xsd:element name="gremiumIdentificatie" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Identificatie kenmerk van het gremium.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gremiumNaam" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Naam van het gremium.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="gemeenteGegevens">
        <xsd:sequence>
            <xsd:element name="gemeentecode" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De code van de gemeente uit de TOOI begrippenlijst 'Register gemeenten compleet'.

                        URL Waardelijst:
                          - https://standaarden.overheid.nl/tooi/waardelijsten/expression?lijst_uri=https%3A%2F%2Fidentifier.overheid.nl%2Ftooi%2Fset%2Frwc_gemeenten_compleet%2F4

                        Verwachte waarde:
                          - string: viercijferige code, eventueel met het voorvoegsel 'gm'. Bijvoorbeeld 'gm0518' voor gemeente Den Haag.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="(GM|gm)?\d{4}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="gemeentenaam" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De naam van de gemeente.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="waterschapGegevens">
        <xsd:sequence>
            <xsd:element name="waterschapcode" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De code van het waterschap uit de TOOI begrippenlijst 'Register waterschappen compleet'.

                        URL Waardelijst:
                          - https://standaarden.overheid.nl/tooi/waardelijsten/expression?lijst_uri=https%3A%2F%2Fidentifier.overheid.nl%2Ftooi%2Fset%2Frwc_waterschappen_compleet%2F1

                        Verwachte waarde:
                          - string: viercijferige code, eventueel met het voorvoegsel 'ws'. Bijvoorbeeld `ws0652` voor waterschap Brabantse Delta.
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="(ws|WS)?\d{4}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="waterschapnaam" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De naam van het waterschap.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="provincieGegevens">
        <xsd:sequence>
            <xsd:element name="provinciecode" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De code van de provincie uit de TOOI begrippenlijst 'Register provincies compleet'.

                        URL waardelijst:
                          - https://standaarden.overheid.nl/tooi/waardelijsten/expression?lijst_uri=https%3A%2F%2Fidentifier.overheid.nl%2Ftooi%2Fset%2Frwc_provincies_compleet%2F1

                        Verwachte waarde:
                          - string: tweecijferige code, eventueel met het voorvoegsel 'pv'. Bijvoorbeeld `pv20` voor provincie Groningen.
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="(pv|PV)?\d{2}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="provincienaam" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        De naam van de provincie.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="bestuurslaagGegevens">
        <!-- TODO: uitleggen dat men hier moet kiezen/hoe men moet kiezen? -->
        <xsd:choice>
            <xsd:element name="gemeente" type="gemeenteGegevens" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="waterschap" type="waterschapGegevens" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="provincie" type="provincieGegevens" minOccurs="1" maxOccurs="1"/>
        </xsd:choice>
    </xsd:complexType>
</xsd:schema>
