ORI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://vng.nl/projecten/open-raadsinformatie" targetNamespace="https://vng.nl/projecten/open-raadsinformatie" xmlns:ori="https://vng.nl/projecten/open-raadsinformatie" elementFormDefault="qualified" version="v0.0.2">
    <xsd:element name="ORI">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="vergadering" type="vergadering" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="agendapunt" type="agendapunt" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="mediabron" type="mediabron" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="stemming" type="stemming" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="natuurlijkPersoon" type="natuurlijkPersoon" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="organisatorischeEenheid" type="organisatorischeEenheid" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="indiener" type="indiener" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="fractie" type="fractie" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="dagelijksBestuur" type="dagelijksBestuur" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="informatieobject" type="informatieobject" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="enkelvoudigInformatieobject" type="enkelvoudigInformatieobject" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="motie" type="motie" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="amendement" type="amendement" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="voorstel" type="voorstel" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ingekomenStuk" type="ingekomenStuk" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="vraag" type="vraag" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="antwoord" type="antwoord" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="toezegging" type="toezegging" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="mededeling" type="mededeling" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="zaak" type="zaak" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="aanwezigeDeelnemer" type="aanwezigeDeelnemer" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
        <!-- enforce uniqueness on all ID tags within the tree -->
        <!-- TODO: maybe allow IDs to be non-unique within certain types of tags? -->
        <xsd:unique name="uniqueID">
            <xsd:selector xpath=".//ori:ID"/>
            <xsd:field xpath="."/>
        </xsd:unique>
    </xsd:element>
    <xsd:complexType name="vergadering">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="naam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="vergaderToelichting" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="georganiseerdDoorGremium" type="gremium" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="vergaderingstype" type="vergaderingstype" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="locatie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="status" type="vergaderingStatus" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="geplandeVergaderdatum" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="vergaderdatum" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="geplandeAanvangVergadering" type="xsd:time" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="geplandeEindeVergadering" type="xsd:time" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="aanvangVergadering" type="xsd:time" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="eindeVergadering" type="xsd:time" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="publicatiedatum" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="bestuurslaag" type="bestuurslaag" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="isVastgelegdMiddels" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de mediabron waarin de vergadering is vastgelegd.

                        Verwachte waarde:
                          - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerde `mediabron`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isGenotuleerdIn" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de notulen van de vergadering.

                        Verwachte waarde:
                          - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerd `informatieobject`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftAlsBijlage" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar een bijlage van de vergadering.

                        Verwachte waarde:
                          - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerd `informatieobject`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftAlsDeelvergadering" type="vergadering" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="agendapunt">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="agendapuntOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="geplandAgendapuntVolgnummer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="agendapuntVolgnummer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="geplandeEindtijd" type="xsd:time" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="geplandeStarttijd" type="xsd:time" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="starttijd" type="xsd:time" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="eindtijd" type="xsd:time" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="agendapuntKenmerk" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="agendapuntTitel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="indicatieHamerstuk" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="indicatorBehandeld" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="indicatorBesloten" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="bestuurslaag" type="bestuurslaag" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="wordtBehandeldTijdens" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de vergadering waarin het agendapunt behandeld wordt.

                        Verwachte waarde:
                          - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerde `vergadering`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftBehandelendAmbtenaar" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de ambtenaar die het agendapunt behandeld.

                        Verwachte waarde:
                          - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerd `natuurlijkPersoon`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftAlsBijlage" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar een bijlage van het agendapunt.

                        Verwachte waarde:
                          - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerd `informatieobject`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftAlsSubagendapunt" type="agendapunt" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="spreekfragment">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="aanvangSpreekfragment" type="xsd:time" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="eindeSpreekfragment" type="xsd:time" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="taal" type="xsd:language" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="tekstSpreekfragment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="titelSpreekfragment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="positieNotulen" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="audioTijdsaanduidingAanvang" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="audioTijdsaanduidingEinde" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="videoTijdsaanduidingAanvang" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="videoTijdsaanduidingEinde" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="isVastgelegdIn" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de mediabron waarin het spreekfragment is vastgelegd.

                        Verwachte waarde:
                          - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerde `mediabron`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="spreektTijdensAgendapunt" type="xsd:string" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar het agendapunt waar tijdens gesproken wordt.

                        Verwachte waarde:
                          - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerd `agendapunt`
                      </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="stemming">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="stemmingstype" type="stemmingstype" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="resultaatMondelingeStemming" type="stemmingResultaat" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="resultaatStemmingOverPersonen" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="stemmingOverPersonen" type="stemmingOverPersonen" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="leidtTotBesluit" type="besluit" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="heeftBetrekkingOpAgendapunt" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar agendapunt waarover gestemt wordt.

                        Verwachte waarde:
                           - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerde `agendapunt`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heeftBetrekkingOpBesluitvormingsstuk" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Het besluitvormingsstuk waarover gestemd wordt.

                        Verwachte waarde:
                          - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerd `besluitvormingsstuk`.
                          Een `besluitvormingsstuk` element erft de eigenschappen van `enkelvoudigInformatieobject`,
                          die op haar beurt weer van `informatieobject` erft.
                    </xsd:documentation>
                    <xsd:documentation>
                        Voorbeeld:

                            <![CDATA[
                            <besluitvormingsstuk>
                                <ID>abcd-1234</ID>
                                <titel>Kapvergunning gemeente Den Haag</titel>
                                <auteur>P. De Vries</auteur>
                                <taal>nl</taal>
                            </besluitvormingsstuk>

                            <stemming>
                                ...
                                <heeftBetrekkingOpBesluitvormingsstuk>abcd-1234</<heeftBetrekkingOpBesluitvormingsstuk>
                                ...
                            </stemming>
                            ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="mediabron">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="locatieWebVTTBestand" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="mimetype" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="mediabronType" type="mediabronType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="URL" type="xsd:anyURI" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="natuurlijkPersoon">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="geslachtsaanduiding" type="geslacht" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="functie" type="functie" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="naamNatuurlijkPersoon" type="naamNatuurlijkPersoon" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="nevenfunctieNatuurlijkPersoon" type="nevenfunctieNatuurlijkPersoon" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="isLidVanFractie" type="fractielidmaatschap" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="isLidVanDagelijksBestuur" type="dagelijksBestuurLidmaatschap" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="naamNatuurlijkPersoon">
        <xsd:sequence>
            <xsd:element name="achternaam" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="tussenvoegsel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="voorletters" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="voornamen" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="volledigeNaam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="nevenfunctieNatuurlijkPersoon">
        <xsd:sequence>
            <xsd:element name="omschrijvingNevenfunctie" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="naamOrganisatieNevenfunctie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="aantalUrenperMaand" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="indicatorBezoldigd" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="indicatorNevenfunctieVanwegeLidmaatschap" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="datumMelding" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="datumAanvangNevenfunctie" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="datumEindeNevenfunctie" type="xsd:date" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="organisatorischeEenheid">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="e-mailadres" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="faxnummer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="naam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="naamVerkort" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="omschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="telefoonnummer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="toelichting" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="stemmingOverPersonen">
        <xsd:sequence>
            <xsd:element name="naamKandidaat" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="aantalUitgebrachteStemmen" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="aanwezigeDeelnemer">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="rolNaam" type="rolNaam" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="organisatie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="deelnemerspositie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="aanvangAanwezigheid" type="xsd:time" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="eindeAanwezigheid" type="xsd:time" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="neemtDeelAanVergadering" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de vergadering waar de deelnemer aanwezig was.

                        Verwachte waarde:
                          - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerde `vergadering`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isNatuurlijkPersoon" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[
                        Verwijzing naar een `<natuurlijkPersoon>` element met meer informatie over de deelnemer.

                        Verwachte waarde:
                          - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerd `natuurlijkPersoon`
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="neemtDeelAanStemming" type="stem" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="spreektTijdens" type="spreekfragment" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="dagelijksBestuurLidmaatschap">
        <xsd:all>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="datumBeginDagelijkseBestuurLidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="datumEindeDagelijkseBestuurLidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="verwijzingDagelijksBestuur" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar het dagelijks bestuur waar het lidmaatschap betrekking op heeft.

                        Verwachte waarde:
                          - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerd `dagelijksBestuur`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="dagelijksBestuur">
        <xsd:all>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="dagelijksBestuursnaam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="dagelijksBestuurstype" type="dagelijksBestuurstype" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="bestuurslaag" type="bestuurslaag" minOccurs="1" maxOccurs="1"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="zaak">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="zaakregistratie" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="omschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="informatieobject">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="titel" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="bronorganisatie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="versie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="auteur" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="creatiedatum" type="xsd:date" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="link" type="xsd:anyURI" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="vertrouwelijkheidsaanduiding" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="bestuurslaag" type="bestuurslaag" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="verwijzingZaak" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de zaak waar dit informatieobject betrekking op heeft.

                        Verwachte waarde:
                          - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerde `zaak`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="enkelvoudigInformatieobject">
        <xsd:complexContent>
            <xsd:extension base="informatieobject">
                <xsd:sequence>
                    <xsd:element name="taal" type="xsd:language" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="inhoud" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="motie">
        <xsd:complexContent>
            <xsd:extension base="besluitvormingsstuk">
                <xsd:sequence>
                    <xsd:element name="motieType" type="motieType" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="toezegging">
        <xsd:complexContent>
            <xsd:extension base="enkelvoudigInformatieobject">
                <xsd:sequence>
                    <xsd:element name="toezeggingsOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="antwoord">
        <xsd:complexContent>
            <xsd:extension base="enkelvoudigInformatieobject">
                <xsd:sequence>
                    <xsd:element name="antwoordOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="behorendBijVraag" type="xsd:string" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                Verwijzing naar de vraag waar het antwoord bij hoort.
                                
                                Verwachte waarde:
                                  - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerde `vraag`.
                                  Een `vraag` element erft de eigenschappen van `enkelvoudigInformatieobject`, die op haar beurt
                                  weer van `informatieobject` erft. 
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="voorstel">
        <xsd:complexContent>
            <xsd:extension base="besluitvormingsstuk">
                <xsd:sequence>
                    <xsd:element name="portefeuillehouder" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="isIngediendDoor" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                Verwijzing naar het dagelijks bestuur dat het besluitsvormingsstuk heeft ingedient.

                                Verwachte waarde:
                                  - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerd `dagelijksBestuur`
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="mededeling">
        <xsd:complexContent>
            <xsd:extension base="enkelvoudigInformatieobject">
                <xsd:sequence>
                    <xsd:element name="mededelingOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ingekomenStuk">
        <xsd:complexContent>
            <xsd:extension base="enkelvoudigInformatieobject"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="amendement">
        <xsd:complexContent>
            <xsd:extension base="besluitvormingsstuk">
                <xsd:sequence>
                    <xsd:element name="toelichting" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="hoortBijVoorstel" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                Verwijzing naar het voorstel waar dit een amendement van is.

                                Verwachte waarde:
                                  - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerd `voorstel`
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="subamendementVan" type="amendement" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="besluit">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="besluitToelichting" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="toezegging" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="besluitResultaat" type="besluitResultaat" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="indiener">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="naam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="adresBinnenland" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="heeftIngediend" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar het ingediende informatieobject.
                        
                        Verwachte waarde:
                        - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerd `informatieobject`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isEntiteit" type="entiteitType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="besluitvormingsstuk" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="enkelvoudigInformatieobject">
                <xsd:sequence>
                    <xsd:element name="omschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="datumIngediend" type="xsd:date" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="fractie">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="fractienaam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="bestuurslaag" type="bestuurslaag" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="fractieNeemtDeelAanStemming" type="stemresultaatPerFractie" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="stemresultaatPerFractie">
        <xsd:all>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="fractieStemresultaat" type="fractieStemresultaat" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="gegevenOpStemming" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de stemming waar de fractie over gestemd heeft.

                        Verwachte waarde:
                          - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerde `stemming`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="fractielidmaatschap">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="datumBeginFractielidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="datumEindeFractielidmaatschap" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="indicatieVoorzitter" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="verwijzingFractie" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de fractie waar het lidmaatschap betrekking op heeft.

                        Verwachte waarde:
                          - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerde `fractie`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="vraag">
        <xsd:complexContent>
            <xsd:extension base="enkelvoudigInformatieobject">
                <xsd:sequence>
                    <xsd:element name="vraagOmschrijving" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="vraagType" type="vraagType" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="stem">
        <xsd:all>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="keuzeStemming" type="stemKeuze" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="gegevenOpStemming" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Verwijzing naar de stemming waar de fractie over gestemd heeft.

                        Verwachte waarde:
                          - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerde `stemming`
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="gremium">
        <xsd:all>
            <xsd:element name="gremiumIdentificatie" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="gremiumNaam" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="gemeente">
        <xsd:sequence>
            <xsd:element name="gemeentecode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="gemeentenaam" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="waterschap">
        <xsd:sequence>
            <xsd:element name="waterschapcode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="waterschapnaam" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="bestuurslaag">
        <xsd:choice>
            <xsd:element name="waterschap" type="waterschap"/>
            <xsd:element name="provincie" type="provincie"/>
            <xsd:element name="gemeente" type="gemeente"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="entiteitType">
        <xsd:choice>
            <xsd:element name="isNatuurlijkPersoon" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[
                        Verwijzing naar een `<natuurlijkPersoon>` element.

                        Verwachte waarde:
                         - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerd `natuurlijkPersoon`
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isOrganisatorischeEenheid" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[
                        Verwijzing naar een `<organisatorischeEenheid>` element.

                        Verwachte waarde:
                          - `ID` (`string`): Uniek identificatiekenmerk van een elders gedefinieerde `organisatorischeEenheid`
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:choice>
    </xsd:complexType>
    <xsd:simpleType name="vraagType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Technische vraag"/>
            <xsd:enumeration value="Mondelinge politieke vraag"/>
            <xsd:enumeration value="Schriftelijke politieke vraag"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="besluitResultaat">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Unaniem aangenomen"/>
            <xsd:enumeration value="Aangenomen"/>
            <xsd:enumeration value="Geamendeerd aangenomen"/>
            <xsd:enumeration value="Onder voorbehoud aangenomen"/>
            <xsd:enumeration value="Verworpen"/>
            <xsd:enumeration value="Aangehouden"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="motieType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Voorstel"/>
            <xsd:enumeration value="Afkeuring"/>
            <xsd:enumeration value="Treurnis"/>
            <xsd:enumeration value="Wantrouwen"/>
            <xsd:enumeration value="Vreemd"/>
            <xsd:enumeration value="Overig"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="mediabronType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Video"/>
            <xsd:enumeration value="Audio"/>
            <xsd:enumeration value="Transcriptie"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="stemKeuze">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Voor"/>
            <xsd:enumeration value="Tegen"/>
            <xsd:enumeration value="Afwezig"/>
            <xsd:enumeration value="Onthouden"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="fractieStemresultaat">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Aangenomen"/>
            <xsd:enumeration value="Verworpen"/>
            <xsd:enumeration value="Verdeeld"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="stemmingstype">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Hoofdelijk"/>
            <xsd:enumeration value="Regulier"/>
            <xsd:enumeration value="Schriftelijk"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="stemmingResultaat">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Voor"/>
            <xsd:enumeration value="Tegen"/>
            <xsd:enumeration value="Gelijk"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="besluitvormingsstukkenType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Hamerstukken"/>
            <xsd:enumeration value="Bespreekstukken"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="vergaderingStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Gepland"/>
            <xsd:enumeration value="Gehouden"/>
            <xsd:enumeration value="Geannuleerd"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="vergaderingstype">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Raadsvergadering"/>
            <xsd:enumeration value="Commissievergadering"/>
            <xsd:enumeration value="Statenvergadering"/>
            <xsd:enumeration value="Algemene bestuursvergadering"/>
            <xsd:enumeration value="Presidium"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="rolNaam">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Voorzitter"/>
            <xsd:enumeration value="Vice-voorzitter"/>
            <xsd:enumeration value="Raadslid"/>
            <xsd:enumeration value="Statenlid"/>
            <xsd:enumeration value="Dagelijks bestuurslid"/>
            <xsd:enumeration value="Algemeen bestuurslid"/>
            <xsd:enumeration value="Inspreker"/>
            <xsd:enumeration value="Portefeuillehouder"/>
            <xsd:enumeration value="Griffier"/>
            <xsd:enumeration value="Overig"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="functie">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Burgemeester"/>
            <xsd:enumeration value="Wethouder"/>
            <xsd:enumeration value="Raadslid"/>
            <xsd:enumeration value="Burgerlid"/>
            <xsd:enumeration value="Griffier"/>
            <xsd:enumeration value="Gemeentesecretaris"/>
            <xsd:enumeration value="Commissaris van de Koning"/>
            <xsd:enumeration value="Gedeputeerde"/>
            <xsd:enumeration value="Statenlid"/>
            <xsd:enumeration value="Provinciesecretaris"/>
            <xsd:enumeration value="Dijkgraaf"/>
            <xsd:enumeration value="Dagelijks bestuurslid"/>
            <xsd:enumeration value="Algemeen bestuurslid"/>
            <xsd:enumeration value="Secretarisdirecteur"/>
            <xsd:enumeration value="Ambtenaar/medewerker"/>
            <xsd:enumeration value="Adviseur of deskundige"/>
            <xsd:enumeration value="Overig"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="geslacht">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Man"/>
            <xsd:enumeration value="Vrouw"/>
            <xsd:enumeration value="Anders"/>
            <xsd:enumeration value="Onbekend"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="dagelijksBestuurstype">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="College"/>
            <xsd:enumeration value="Gedeputeerde Staten"/>
            <xsd:enumeration value="Dagelijks bestuur"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="provincie">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Drenthe"/>
            <xsd:enumeration value="Groningen"/>
            <xsd:enumeration value="Overijssel"/>
            <xsd:enumeration value="Flevoland"/>
            <xsd:enumeration value="Gelderland"/>
            <xsd:enumeration value="Utrecht"/>
            <xsd:enumeration value="Noord-Holland"/>
            <xsd:enumeration value="Zuid-Holland"/>
            <xsd:enumeration value="Zeeland"/>
            <xsd:enumeration value="Noord-Brabant"/>
            <xsd:enumeration value="Limburg"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
